<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="UTF-8">
    <title>COVID-19 - Data for worldwide</title>
    <link href="css/mystyles.css" rel="stylesheet" th:href="@{/css/mystyles.css}">
    <link href="css/toggle-switch.css" rel="stylesheet" th:href="@{/css/toggle-switch.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
    <script th:src="@{/js/charts.js}"></script>
    <script th:inline="javascript">
        getCountryV2(country);
    </script>
    <style>
        .dropdown {
            display: inline-block;
        }

        .dropdown-content {
            padding-top: 0em;
            display: none;
            position: absolute;
            overflow: auto;
            z-index: 1;
            max-height: 20em;
        }

        .dropdown-content a {
            padding-right: 0em;
            display: block;
        }

        .dropdown a:hover {
            background-color: #ddd;
        }

        .show {
            display: block;
        }
    </style>
</head>
<body>
<div class="container">
    <section class="section">
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                <div class="title is-3 has-text-centered">Daily data of COVID-19 worldwide</div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                <div class="buttons is-mobile is-centered">
                    <a class="button is-small is-link is-rounded" href="/sir-model" type="submit">Go to SIR-Model</a>
                    <a class="button is-small is-link is-rounded" href="/v2/covid19" id="loadingUpdate"
                       onclick="loading('loadingUpdate')">Manual update world</a>
                </div>
                <div class="buttons is-centered">
                    <div class="dropdown">
                        <button class="button is-link is-rounded" onclick="myFunction()">Select country
                        </button>
                        <div class="dropdown-content" id="myDropdown">
                            <input class="input" id="myInput" onkeyup="filterFunction()"
                                   placeholder="Search for country.." type="text">
                            <div th:each="countries : ${listCountries}">
                                <a class="dropdown-item"
                                   th:onclick="/*<![CDATA[*/ getCountryV2(/*[[${countries}]]*/) /*]]>*/"
                                   th:text="${countries}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-12-tablet is-11-desktop is-10-widescreen is-9-fullhd">
                <div class="has-text-centered is-size-5" th:if="${noDataForWorldTimeSeries}"></div>
                <div class="tile is-ancestor">
                    <div class="tile is-horizontal">
                        <div class="tile is-parent">
                            <div class="tile is-child notification is-info">
                                <span class="icon is-pulled-right"><img alt="checkmark" src="/img/checkmark-outline.svg"></span>
                                <div class="is-size-5">Confirmed</div>
                                <div class="is-size-6"
                                     th:text="${latestDataWorld.getConfirmed() == 0} ? ${'No value, please try again later!'}
                                         : ${#numbers.formatInteger(latestDataWorld.getConfirmed(),3,'POINT')}"></div>
                                <div class="is-size-6"
                                     th:if="${latestDataWorld.getNewConfirmed() != 0}"
                                     th:text="'+ ' + ${#numbers.formatInteger(latestDataWorld.newConfirmed,3,'POINT')}"></div>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child notification is-primary">
                                <span class="icon is-pulled-right"><img alt="fitness" src="/img/fitness-outline.svg"></span>
                                <div class="is-size-5">Recovered</div>
                                <div class="is-size-6"
                                     th:text="${latestDataWorld.getRecovered() == 0} ? ${'No value, please try again later!'}
                                         : ${#numbers.formatInteger(latestDataWorld.getRecovered(),3,'POINT')}"></div>
                                <div class="is-size-6"
                                     th:if="${latestDataWorld.getNewRecovered() != 0}"
                                     th:text="'+ ' + ${#numbers.formatInteger(latestDataWorld.getNewRecovered(),3,'POINT')}"></div>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child notification is-danger">
                                <span class="icon is-pulled-right"><img alt="skull" src="/img/skull-outline.svg"></span>
                                <div class="is-size-5">Deaths</div>
                                <div class="is-size-6"
                                     th:text="${latestDataWorld.getDeaths() == 0} ? ${'No value, please try again later!'}
                                         : ${#numbers.formatInteger(latestDataWorld.getDeaths(),3,'POINT')}"></div>
                                <div class="is-size-6"
                                     th:if="${latestDataWorld.getNewDeaths() != 0}"
                                     th:text="'+ ' + ${#numbers.formatInteger(latestDataWorld.getNewRecovered(),3,'POINT')}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-horizontal">
                        <div class="tile is-parent">
                            <div class="tile is-child notification is-warning">
                                <span class="icon is-pulled-right"><img alt="medkit" src="/img/medkit-outline.svg"></span>
                                <div class="is-size-5">Active cases</div>
                                <div class="is-size-6"
                                     th:text="${#numbers.formatInteger(latestDataWorld.getActive(),3,'POINT')}"></div>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child notification is-light">
                                <span class="icon is-pulled-right"><img alt="analytics" src="/img/analytics-outline.svg"></span>
                                <div class="is-size-5">Last update</div>
                                <div class="is-size-6" th:text="${lastUpdate}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-8-tablet is-7-desktop is-6-widescreen is-5-fullhd">
                <div class="switch-toggle switch-ios">
                    <input checked id="bar" name="view" onclick="toggleToBarChart()" type="radio">
                    <label for="bar" onclick="">Bar</label>
                    <input id="line" name="view" onclick="toggleToLineChart()" type="radio">
                    <label for="line" onclick="">Line</label>
                    <input id="confirmed" name="view" onclick="confirmed()" type="radio">
                    <label for="confirmed" onclick="">Confirmed</label>
                    <input id="recovered" name="view" onclick="recovered()" type="radio">
                    <label for="recovered" onclick="">Recovered</label>
                    <input id="deaths" name="view" onclick="deaths()" type="radio">
                    <label for="deaths" onclick="">Deaths</label>
                    <a></a>
                </div>
                <br>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd box">
                <canvas id="canvasWorld"></canvas>
            </div>
        </div>
    </section>
</div>
<script th:inline="javascript">
    let canvasWorld = document.getElementById('canvasWorld');
    /*<![CDATA[*/
    let dates = /*[[${dateTimeSeries}]]*/ '';
    let confList = /*[[${confirmed}]]*/ '';
    let recList = /*[[${recovered}]]*/ '';
    let deaList = /*[[${deaths}]]*/ '';
    /*]]>*/

    barChartAll(canvasWorld, dates, 'World', confList, recList, deaList);

    function confirmed() {
        changeBarChart(canvasWorld, dates, 'Confirmed', confList, recList, deaList)
    }

    function recovered() {
        changeBarChart(canvasWorld, dates, 'Recovered', confList, recList, deaList);
    }

    function deaths() {
        changeBarChart(canvasWorld, dates, 'Deaths', confList, recList, deaList);
    }

    function toggleToBarChart() {
        let barChartString = 'bar';
        changeBarChart(canvasWorld, dates, 'World', confList, recList, deaList, barChartString);
    }

    function toggleToLineChart() {
        let lineChartString = 'line';
        changeBarChart(canvasWorld, dates, 'World', confList, recList, deaList, lineChartString);
    }

    let dropdown = document.querySelector('.dropdown');
    dropdown.addEventListener('click', function (event) {
        event.stopPropagation();
        dropdown.classList.toggle('is-active');
    });
</script>
</body>
</html>