@media screen and (min-width: 665px) {
    .hide-on-big {
        display: none;
    }
}

@media screen and (max-width: 664px) {
    .hide-on-small {
        display: none;
    }
}

@media screen and (min-width: 1408px) {
    .hide-on-bigUS {
        display: none;
    }
}

@media screen and (max-width: 1407px) {
    .hide-on-smallUS {
        display: none;
    }
}

/*Dropdown country*/
.toggle {
    display: none;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    padding-top: 0em;
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 1;
    max-height: 18em;
}

.dropdown-content a {
    padding-right: 0em;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/*Button for list all world values*/
.btn {
    background-color: transparent;
    border-color: #3273dc;
    color: #3273dc;
}

.btn:hover, .btn:focus {
    background-color: #3273dc;
    border-color: #3273dc;
    color: #fff;
}

.activeButton {
    background-color: #3273dc;
    border-color: #3273dc;
    color: #fff;
}

/*List toggle for content world values*/
.collapsible {
    display: flow-root;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
}

.collapsible .contentSign:after {
    content: '\02795';
    font-size: 13px;
    color: white;
    margin-left: 10px;
}

.active .contentSign:after {
    content: '\2796';
}

.content {
    width: 100%;
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}