<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/img/bar-chart-outline.svg" rel="icon" type="image/svg">
    <title th:text="${title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" rel="stylesheet">
    <link href="css/statistic-style.css" rel="stylesheet" th:href="@{/css/statistic-style.css}">
    <link href="css/toggle-switch.css" rel="stylesheet" th:href="@{/css/toggle-switch.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script th:src="@{/js/charts.js}"></script>
    <script th:src="@{/js/statistic-script.js}"></script>
    <script th:inline="javascript">
        getCountryV2(country);
    </script>
</head>
<body>
<div class="has-background-light">
    <section class="section">
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                <div class="title is-3 has-text-centered">COVID-19 <span
                        th:text="${selectedCountry}"></span>
                    <img alt="countryFlag" class="icon" style="border-radius: 15px"
                         th:src="${countryValuesDto.getDataObjectCountryInfo().getFlag()}"/>
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                <div class="buttons is-centered">
                    <a class="button is-small is-link is-rounded" href="/" type="submit">Home</a>
                    <a class="button is-small is-link is-rounded" href="/covid19/symptoms">Symptoms</a>
                    <a class="button is-small is-link is-rounded" id="loadingUpdate"
                       onclick="loading('loadingUpdate')"
                       th:href="@{/covid19/timeSeries/country/{country}(country = ${selectedCountry})}">Update</a>
                </div>
                <div class="buttons is-centered">
                    <div class="dropdown">
                        <button class="button is-link is-rounded" onclick="dropDownButton()">Select country
                        </button>
                        <div class="dropdown-content" id="dropDownCountry">
                            <input class="input" id="dropDownInput" onkeyup="filterFunction()"
                                   placeholder="Search for country ..." type="text">
                            <div th:each="countries : ${listCountries}">
                                <a class="dropdown-item"
                                   th:onclick="/*<![CDATA[*/ getCountryV2(/*[[${countries}]]*/) /*]]>*/"
                                   th:text="${countries}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-12-tablet is-12-desktop is-10-widescreen is-9-fullhd">
                <div class="has-text-centered is-size-5" th:if="${noDataForThisCountry}">No dataset available at the
                    moment!
                </div>
                <br>
                <div class="tile is-ancestor">
                    <div class="tile is-horizontal">
                        <div class="tile is-parent">
                            <div class="tile is-child box has-text-info has-text-weight-bold">
                                <div class="is-size-6"
                                     th:text="${countryValuesDto.getCases() == null} ? ${'No value'}
                                         : ${#numbers.formatInteger(countryValuesDto.getCases(), 3, 'POINT')}"></div>
                                <div class="is-size-6"
                                     th:if="${countryValuesDto.getCases() != null}"
                                     th:text="'+ ' + ${#numbers.formatInteger(countryValuesDto.getTodayCases(), 3, 'POINT')}"></div>
                                <span class="icon is-pulled-right"><img alt="checkmark"
                                                                        src="/img/checkmark-outline.svg"></span>
                                <div class="is-size-5">Confirmed</div>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child box has-text-success has-text-weight-bold">
                                <div class="is-size-6"
                                     th:text="${countryValuesDto.getRecovered() == null} ? ${'No value'}
                                         : ${#numbers.formatInteger(countryValuesDto.getRecovered(), 3, 'POINT')}"></div>
                                <div class="is-size-6"
                                     th:if="${(countryValuesDto.getRecovered()) != null}"
                                     th:text="'+ ' + ${#numbers.formatInteger(countryValuesDto.getTodayRecovered(), 3, 'POINT')}"></div>
                                <span class="icon is-pulled-right"><img alt="fitness"
                                                                        src="/img/fitness-outline.svg"></span>
                                <div class="is-size-5">Recovered</div>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child box has-text-danger has-text-weight-bold">
                                <div class="is-size-6"
                                     th:text="${countryValuesDto.getDeaths() == null} ? ${'No value'}
                                         : ${#numbers.formatInteger(countryValuesDto.getDeaths(), 3, 'POINT')}"></div>
                                <div class="is-size-6"
                                     th:if="${countryValuesDto.getDeaths() != null}"
                                     th:text="'+ ' + ${#numbers.formatInteger(countryValuesDto.getTodayDeaths(), 3, 'POINT')}"></div>
                                <span class="icon is-pulled-right"><img alt="skull" src="/img/skull-outline.svg"></span>
                                <div class="is-size-5">Deaths</div>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child box has-text-weight-bold has-text-warning-dark">
                                <div class="is-size-6"
                                     th:text="${countryValuesDto.getActive() == null} ? ${'No value'}
                                         : ${#numbers.formatInteger(countryValuesDto.getActive(), 3, 'POINT')}"></div>
                                <div class="is-size-6"
                                     th:if="${differenceActiveCases == 0} ? ${'No value'}
                                         : ${(differenceActiveCases) >= 0}"
                                     th:text="${differenceActiveCases == 0} ? ${'No value'}
                                         : '+ ' + ${#numbers.formatInteger(differenceActiveCases, 3, 'POINT')}"></div>
                                <div class="is-size-6"
                                     th:if="${differenceActiveCases == 0} ? ${'No value'}
                                         : ${(differenceActiveCases) < 0}"
                                     th:text="${differenceActiveCases == 0} ? ${'No value'}
                                         : '- ' + ${#numbers.formatInteger(inverted, 3, 'POINT')}"
                                     th:with="inverted=${differenceActiveCases == 0} ? ${0}
                                         : ${-(differenceActiveCases)}"></div>
                                <span class="icon is-pulled-right"><img alt="medikit"
                                                                        src="/img/medkit-outline.svg"></span>
                                <div class="is-size-5">Active cases</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-horizontal">
                        <div class="tile is-parent">
                            <div class="tile is-child box">
                                <div class="is-size-7 is-pulled-right tag"
                                     th:classappend="${countryValuesDto.getSevenDayIncidence() >= 50} ? 'is-danger' : ''"
                                     th:text="${countryValuesDto.getSevenDayIncidence() == null} ? ${'No value'}
                                         : ${#numbers.formatInteger(countryValuesDto.getSevenDayIncidence(), 3, 'POINT')}"></div>
                                <div class="is-size-6">7-day-incidence / 100.000:</div>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child box">
                                <div class="is-size-7 is-pulled-right tag is-danger"
                                     th:text="${countryValuesDto.getDeathRate() == null} ? ${'No value'}
                                         : ${#numbers.formatDecimal(countryValuesDto.getDeathRate(), 1, 'COMMA', 2, 'POINT') + ' %'}"></div>
                                <div class="is-size-6">Death rate:</div>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child box">
                                <div class="is-size-7 is-pulled-right tag is-warning"
                                     th:text="${countryValuesDto.getCritical() == 0} ? ${'No value'}
                                         : ${#numbers.formatInteger(countryValuesDto.getCritical(), 3, 'POINT')}"></div>
                                <div class="is-size-6">Critical</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-horizontal">
                        <div class="tile is-parent">
                            <div class="tile is-child box">
                                <span class="icon is-pulled-right"><img alt="analytics"
                                                                        src="/img/analytics-outline.svg"></span>
                                <div class="is-size-5">Data</div>
                                <div class="is-size-7 is-pulled-right tag is-warning"
                                     th:text="${countryValuesDto.getCriticalPerOneMillion() == null} ? ${'No value'}
                                         : ${#numbers.formatDecimal(countryValuesDto.getCriticalPerOneMillion(), 1, 'COMMA', 2, 'POINT')}"></div>
                                <div class="is-size-6">Critical / one mil.:</div>
                                <hr class="dropdown-divider-own">
                                <div class="is-size-7 is-pulled-right tag is-warning"
                                     th:text="${countryValuesDto.getActivePerOneMillion() == null} ? ${'No value'}
                                         : ${#numbers.formatDecimal(countryValuesDto.getActivePerOneMillion(), 1, 'COMMA', 2, 'POINT')}"></div>
                                <div class="is-size-6">Active / one mil.:</div>
                                <hr class="dropdown-divider-own">
                                <div class="is-size-7 is-pulled-right tag is-success"
                                     th:text="${countryValuesDto.getRecoveredPerOneMillion() == null} ? ${'No value'}
                                         : ${#numbers.formatDecimal(countryValuesDto.getRecoveredPerOneMillion(), 1, 'COMMA', 2, 'POINT')}"></div>
                                <div class="is-size-6">Recovered / one mil.:</div>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child box">
                                <span class="icon is-pulled-right"><img alt="analytics"
                                                                        src="/img/analytics-outline.svg"></span>
                                <div class="is-size-5">Data</div>
                                <div class="is-size-7 is-pulled-right tag is-success"
                                     th:text="${countryValuesDto.getRecoveryRate() == null} ? ${'No value'}
                                         : ${#numbers.formatDecimal(countryValuesDto.getRecoveryRate(), 1, 'COMMA', 2, 'POINT') + ' %'}"></div>
                                <div class="is-size-6">Recovery rate:</div>
                                <hr class="dropdown-divider-own">
                                <div class="is-size-7 is-pulled-right tag is-info"
                                     th:text="${countryDailyDto.getIncidenceRate() == null} ? ${'No value'}
                                         : ${#numbers.formatDecimal(countryDailyDto.getIncidenceRate(), 1, 'COMMA', 2, 'POINT') + ' %'}"></div>
                                <div class="is-size-6">Incidence rate:</div>
                                <hr class="dropdown-divider-own">
                                <div class="is-size-6 is-pulled-right"
                                     th:text="${countryValuesDto.getPopulation() == 0} ? ${'No value'}
                                         : ${#numbers.formatInteger(countryValuesDto.getPopulation(), 3, 'POINT')}"></div>
                                <div class="is-size-6">Population:</div>
                                <hr class="dropdown-divider-own">
                                <div class="is-size-6 is-pulled-right"
                                     th:text="${updated == null} ? ${'No value'} : ${updated}"></div>
                                <div class="is-size-6">Updated:</div>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child box">
                                <span class="icon is-pulled-right"><img alt="analytics"
                                                                        src="/img/analytics-outline.svg"></span>
                                <div class="is-size-5">Data</div>
                                <div class="is-size-6 is-pulled-right"
                                     th:text="${countryValuesDto.getCasesPerOneHundred() == 0} ? ${'No value'}
                                         : ${#numbers.formatInteger(countryValuesDto.getCasesPerOneHundred(), 3, 'POINT')}"></div>
                                <div class="is-size-6">Cases / 100.000:</div>
                                <hr class="dropdown-divider-own">
                                <div class="is-size-6 is-pulled-right"
                                     th:text="${countryValuesDto.getDeathsPerOneHundred() == null} ? ${'No value'}
                                         : ${#numbers.formatInteger(countryValuesDto.getDeathsPerOneHundred(), 3, 'POINT')}"></div>
                                <div class="is-size-6">Deaths / 100.000:</div>
                                <hr class="dropdown-divider-own">
                                <div class="is-size-6 is-pulled-right"
                                     th:text="${countryValuesDto.getTests() == null} ? ${'No value'}
                                         : ${#numbers.formatInteger(countryValuesDto.getTests(), 3, 'POINT')}"></div>
                                <div class="is-size-6">Tests all:</div>
                                <hr class="dropdown-divider-own">
                                <div class="is-size-6 is-pulled-right"
                                     th:text="${countryValuesDto.getTestsPerOneMillion() == null} ? ${'No value'}
                                         : ${#numbers.formatInteger(countryValuesDto.getTestsPerOneMillion(), 3, 'POINT')}"></div>
                                <div class="is-size-6">Tests / one mil.:</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                <div class="buttons has-addons is-centered">
                    <a class="button is-rounded is-info"
                       th:href="@{/covid19/timeSeries/country/provinces/{country}/{code}(country = ${selectedCountry},
                       code = ${countryValuesDto.getDataObjectCountryInfo().getIso2()})}"
                       th:if="${moreDetailsAvailable}">Province for&nbsp;<span th:text="${selectedCountry}"></span></a>
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-8-tablet is-7-desktop is-6-widescreen is-5-fullhd">
                <div class="switch-toggle switch-ios">
                    <input checked id="line" name="view" onclick="toggleToLineChart()" type="radio">
                    <label class="is-size-7-mobile" for="line" onclick="">Line</label>
                    <input id="bar" name="view" onclick="toggleToBarChart()" type="radio">
                    <label class="is-size-7-mobile" for="bar" onclick="">Bar</label>
                    <input id="confirmed" name="view" onclick="toggleToConfirmed()" type="radio">
                    <label class="is-size-7-mobile" for="confirmed" onclick="">Confirmed</label>
                    <input id="recovered" name="view" onclick="toggleToRecovered()" type="radio">
                    <label class="is-size-7-mobile" for="recovered" onclick="">Recovered</label>
                    <input id="deaths" name="view" onclick="toggleToDeaths()" type="radio">
                    <label class="is-size-7-mobile" for="deaths" onclick="">Deaths</label>
                    <a></a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="columns is-mobile is-centered">
                <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                    <div class="has-text-centered is-size-5" th:if="${noDataForThisCountry}">No dataset available at the
                        moment!
                    </div>
                </div>
            </div>
            <div class="columns is-mobile is-centered">
                <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                    <canvas class="box" id="canvasCountry"></canvas>
                </div>
            </div>
            <div class="columns is-mobile is-centered">
                <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                    <br>
                    <div class="has-text-centered is-size-4">Daily trend of COVID-19 for <span
                            th:text="${selectedCountry}"></span></div>
                </div>
            </div>
            <div class="columns is-mobile is-centered">
                <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                    <canvas class="box" id="confirmedOneDay"></canvas>
                </div>
            </div>
            <div class="columns is-mobile is-centered">
                <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                    <canvas class="box" id="recoveredOneDay"></canvas>
                </div>
            </div>
            <div class="columns is-mobile is-centered">
                <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                    <canvas class="box" id="deathsOneDay"></canvas>
                </div>
            </div>
        </div>
    </section>
</div>
<footer class="footer">
    <div class="columns is-mobile is-centered">
        <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
            <div class="has-text-centered">
                Source
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://github.com/CSSEGISandData"
                   target="_blank">github.com/CSSEGISandData</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://about-corona.net/" target="_blank">about-corona.net</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://github.com/mathdroid/covid-19-api" target="_blank">github.com/mathdroid/covid-19-api</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://corona.lmao.ninja/" target="_blank">corona.lmao.ninja</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://www.trackcorona.live/" target="_blank">trackcorona.live</a>
            </div>
            <div class="has-text-centered">Contact: <a href="mailto:info@tracker-covid19.de">info (at)
                tracker-covid19.de</a></div>
        </div>
    </div>
</footer>
<script th:inline="javascript">
    let canvasCountry = document.getElementById('canvasCountry');
    /*<![CDATA[*/
    let label = /*[[${selectedCountry}]]*/ '';
    let confirmedList = /*[[${confirmedList}]]*/ '';
    let deathsList = /*[[${deathsList}]]*/ '';
    let recoveredList = /*[[${recoveredList}]]*/ '';
    let datesList = /*[[${dateList}]]*/ '';
    /*]]>*/

    barLineChartAllValues(canvasCountry, datesList, label, confirmedList, recoveredList, deathsList);

    function toggleToBarChart() {
        changeChart(canvasCountry, datesList, label, confirmedList, recoveredList, deathsList, 'bar');
    }

    function toggleToLineChart() {
        changeChart(canvasCountry, datesList, label, confirmedList, recoveredList, deathsList, 'line');
    }

    function toggleToConfirmed() {
        changeChart(canvasCountry, datesList, 'Confirmed', confirmedList, recoveredList, deathsList)
    }

    function toggleToRecovered() {
        changeChart(canvasCountry, datesList, 'Recovered', confirmedList, recoveredList, deathsList);
    }

    function toggleToDeaths() {
        changeChart(canvasCountry, datesList, 'Deaths', confirmedList, recoveredList, deathsList);
    }

    /*<![CDATA[*/
    let confirmedOneDay = /*[[${dailyTrendConfirmed}]]*/ '';
    let recoveredOneDay = /*[[${dailyTrendRecovered}]]*/ '';
    let deathsOneDay = /*[[${dailyTrendDeaths}]]*/ '';
    let datesOneDay = /*[[${dateList}]]*/ '';
    /*]]>*/

    changedBarChartPerDay(document.getElementById('confirmedOneDay'), datesOneDay, confirmedOneDay, 'Confirmed');
    changedBarChartPerDay(document.getElementById('recoveredOneDay'), datesOneDay, recoveredOneDay, 'Recovered');
    changedBarChartPerDay(document.getElementById('deathsOneDay'), datesOneDay, deathsOneDay, 'Deaths');
</script>
</body>
</html>