<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>COVID-19 - Germany</title>
    <link href="../../css/bulma.min.css" rel="stylesheet" th:href="@{/css/bulma.min.css}">
    <link href="../../css/statistic-style.css" rel="stylesheet" th:href="@{/css/statistic-style.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
    <script th:src="@{/js/charts.js}"></script>
    <script th:inline="javascript">
        loading(id)

        getCountry(country);
    </script>
</head>
<body>
<div class="container">
    <section class="section">
        <div class="columns is-mobile is-centered">
            <div class="column is-10-tablet">
                <div class="title is-3 has-text-centered">Daily data of COVID-19 from JHU for Germany</div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-10-tablet">
                <div class="buttons is-centered">
                    <a class="button is-small is-link is-rounded" href="/" type="submit">Go to home</a>
                    <a class="button is-small is-link is-rounded" href="/sir-model" type="submit">Go to SIR-Model</a>
                    <a class="button is-small is-link is-rounded" href="/covid19/germany/update" id="loadingUpdate"
                       onclick="loading('loadingUpdate')">Manual update germany</a>
                </div>
                <div class="buttons is-centered">
                    <div class="dropdown">
                        <button class="button is-small is-link is-rounded" onclick="myFunction()">Select country
                        </button>
                        <div class="dropdown-content" id="myDropdown">
                            <input class="input" id="myInput" onkeyup="filterFunction()"
                                   placeholder="Search for country.." type="text">
                            <div th:each="countries : ${listCountries}">
                                <a class="dropdown-item"
                                   th:onclick="/*<![CDATA[*/ getCountry(/*[[${countries}]]*/) /*]]>*/"
                                   th:text="${countries}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-10-tablet">
                <div th:if="${noFirstDataGermany}">
                    <div class="notification is-white">
                        <div class="is-text has-text-centered">
                            No first dataset germany. Please try again in an hour.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-10-tablet">
                <div class="tile is-ancestor">
                    <div class="tile is-vertical">
                        <div class="tile">
                            <div class="tile is-parent is-vertical">
                                <div class="tile is-child notification is-info">
                                    <div class="is-size-5">Total confirmed <span class="icon"><img
                                            src="/img/checkmark-outline.svg"></span></div>
                                    <div class="is-size-6"
                                         th:text="${#numbers.formatInteger(dataGermanySummary.getTotalConfirmed(),3,'POINT')}"></div>
                                    <div class="is-size-6"
                                         th:text="'+ ' + ${#numbers.formatInteger(dataGermanySummary.newConfirmed,3,'POINT')}"></div>
                                </div>
                            </div>
                            <div class="tile is-parent is-vertical">
                                <div class="tile is-child notification is-primary">
                                    <div class="is-size-5">Total recovered <span class="icon"><img
                                            src="/img/fitness-outline.svg"></span></div>
                                    <div class="is-size-6"
                                         th:text="${#numbers.formatInteger(dataGermanySummary.getTotalRecovered(),3,'POINT')}"></div>
                                    <div class="is-size-6"
                                         th:text="'+ ' + ${#numbers.formatInteger(dataGermanySummary.getNewRecovered(),3,'POINT')}"></div>
                                </div>
                            </div>
                            <div class="tile is-parent is-vertical">
                                <div class="tile is-child notification is-danger">
                                    <div class="is-size-5">Total deaths <span class="icon"><img
                                            src="/img/skull-outline.svg"></span></div>
                                    <div class="is-size-6"
                                         th:text="${#numbers.formatInteger(dataGermanySummary.getTotalDeaths(),3,'POINT')}"></div>
                                    <div class="is-size-6"
                                         th:text="'+ ' + ${#numbers.formatInteger(dataGermanySummary.getNewDeaths(),3,'POINT')}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tile">
                            <div class="tile is-parent is-vertical">
                                <div class="tile is-child notification is-warning">
                                    <p class="is-size-5">Active cases <span class="icon"><img
                                            src="/img/medkit-outline.svg"></span></p>
                                    <p class="is-size-6"
                                       th:text="${#numbers.formatInteger(dataGermanySummary.getTotalConfirmed() -
                                   dataGermanySummary.getTotalDeaths() - dataGermanySummary.getTotalRecovered(),3,'POINT')}"></p>
                                </div>
                            </div>
                            <div class="tile is-parent is-vertical">
                                <div class="tile is-child notification is-light">
                                    <div class="is-size-5">Last update</div>
                                    <div class="is-size-6"
                                         th:text="${date}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-9-tablet">
                <canvas id="dataGermanyConfirmed"></canvas>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-9-tablet">
                <canvas id="dataGermanyRecovered"></canvas>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-9-tablet">
                <canvas id="dataGermanyDeaths"></canvas>
            </div>
        </div>
    </section>
</div>
<script th:inline="javascript">
    let confCanvas = document.getElementById('dataGermanyConfirmed');
    let recCanvas = document.getElementById('dataGermanyRecovered');
    let deaCanvas = document.getElementById('dataGermanyDeaths');
    let confLabel = 'Confirmed Germany COVID-19';
    let recLabel = 'Recovered Germany COVID-19';
    let deaLabel = 'Death Germany COVID-19';
    /*<![CDATA[*/
    let dates = /*[[${datesG}]]*/;
    let confList = /*[[${confirmedListG}]]*/;
    let recList = /*[[${recoveredListG}]]*/;
    let deaList = /*[[${deathsListG}]]*/;
    /*]]>*/

    barChartSelectedCountry(confCanvas, recCanvas, deaCanvas, confLabel, recLabel, deaLabel, dates, confList, recList, deaList);

    let dropdown = document.querySelector('.dropdown');
    dropdown.addEventListener('click', function (event) {
        event.stopPropagation();
        dropdown.classList.toggle('is-active');
    });
</script>
</body>
</html>