<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link href="../../css/bulma.min.css" rel="stylesheet" th:href="@{/css/bulma.min.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
    <script th:src="@{/js/charts.js}"></script>
    <script>
        loading(id)
    </script>
</head>
<body>
<div class="container">
    <section class="section">
        <div class="columns is-mobile is-centered">
            <div class="column">
                <div class="title is-3 has-text-centered">John Hopkins University COVID-19 data for <span
                        th:text="${selectedCountry}"></span></div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column">
                <div class="buttons is-centered">
                    <a class="button is-small is-link is-rounded" href="/sir-model" type="submit">Go to SIR-Model</a>
                    <a class="button is-small is-link is-rounded" href="/covid19/world" type="submit">Go to data
                        worldwide</a>
                    <a class="button is-small is-link is-rounded" href="/" type="submit">Go to home</a>
                    <a class="button is-small is-link is-rounded" id="loadingUpdate"
                       onclick="loading('loadingUpdate')"
                       th:href="@{/covid19/summary/{country}(country = ${selectedCountry})}">Update data for <span
                            th:text="${selectedCountry}"></span></a>
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column">
                <div th:if="${noDataForThisCountry}">
                    <div class="notification is-white">
                        <div class="is-text has-text-centered">
                            No dataset for <span th:text="${selectedCountry}"></span>. Please try again later.
                        </div>
                    </div>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-vertical is-11">
                        <div class="tile">
                            <div class="tile is-parent is-vertical">
                                <article class="tile is-child notification is-info">
                                    <p class="title is-5">New confirmed</p>
                                    <p class="subtitle is-6"
                                       th:text="${#numbers.formatInteger(dataSummaryToday.getNewConfirmedToday(),3,'POINT')}"></p>
                                </article>
                                <article class="tile is-child notification is-info">
                                    <p class="title is-5">Total confirmed</p>
                                    <p class="subtitle is-6"
                                       th:text="${#numbers.formatInteger(dataSummaryToday.getConfirmedToday(),3,'POINT')}"></p>
                                </article>
                            </div>
                            <div class="tile is-parent is-vertical">
                                <article class="tile is-child notification is-primary">
                                    <p class="title is-5">New recovered</p>
                                    <p class="subtitle is-6"
                                       th:text="${#numbers.formatInteger(dataSummaryToday.getNewRecoveredToday(),3,'POINT')}"></p>
                                </article>
                                <article class="tile is-child notification is-primary">
                                    <p class="title is-5">Total recovered</p>
                                    <p class="subtitle is-6"
                                       th:text="${#numbers.formatInteger(dataSummaryToday.getRecoveredToday(),3,'POINT')}"></p>
                                </article>
                            </div>
                            <div class="tile is-parent is-vertical">
                                <article class="tile is-child notification is-danger">
                                    <p class="title is-5">New deaths</p>
                                    <p class="subtitle is-6"
                                       th:text="${#numbers.formatInteger(dataSummaryToday.getNewDeathsToday(),3,'POINT')}"></p>
                                </article>
                                <article class="tile is-child notification is-danger">
                                    <p class="title is-5">Total deaths</p>
                                    <p class="subtitle is-6"
                                       th:text="${#numbers.formatInteger(dataSummaryToday.getDeathsToday(),3,'POINT')}"></p>
                                </article>
                            </div>
                        </div>
                        <div class="tile">
                            <div class="tile is-parent is-vertical">
                                <article class="tile is-child notification is-light">
                                    <p class="title is-5">Last update</p>
                                    <p class="subtitle is-6"
                                       th:text="${date}"></p>
                                </article>
                            </div>
                            <div class="tile is-parent is-vertical">
                                <article class="tile is-child notification is-light">
                                    <p class="title is-5">Active cases</p>
                                    <p class="subtitle is-6"
                                       th:text="${#numbers.formatInteger(dataSummaryToday.getConfirmedToday() -
                                       dataSummaryToday.getDeathsToday() - dataSummaryToday.getRecoveredToday(),3,'POINT')}"></p>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>