<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>COVID-19 - Statistics</title>
    <link href="../../css/bulma.min.css" rel="stylesheet" th:href="@{/css/bulma.min.css}">
    <link href="../../css/statistic-style.css" rel="stylesheet" th:href="@{/css/statistic-style.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
    <script th:src="@{/js/charts.js}"></script>
    <script th:inline="javascript">
        loading(id);

        getCountry(country);
    </script>
</head>
<body>
<div class="container">
    <section class="section">
        <div class="columns is-mobile is-centered">
            <div class="column">
                <div class="title is-3 has-text-centered">Daily data of COVID-19 from JHU for world</div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-10-tablet">
                <div class="buttons is-mobile is-centered">
                    <a class="button is-small is-link is-rounded" href="/covid19/germany" type="submit">Go to data
                        germany</a>
                    <a class="button is-small is-link is-rounded" href="/sir-model" type="submit">Go to SIR-Model</a>
                    <a class="button is-small is-link is-rounded" href="/covid19/update" id="loadingUpdate"
                       onclick="loading('loadingUpdate')">Manual update world</a>
                </div>
                <div class="buttons is-centered">
                    <div class="dropdown">
                        <button class="button is-link is-rounded" onclick="myFunction()">Select country
                        </button>
                        <div class="dropdown-content" id="myDropdown">
                            <input class="input" id="myInput" onkeyup="filterFunction()"
                                   placeholder="Search for country.." type="text">
                            <div th:each="countries : ${listCountries}">
                                <a class="dropdown-item"
                                   th:onclick="/*<![CDATA[*/ getCountry(/*[[${countries}]]*/) /*]]>*/"
                                   th:text="${countries}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-10-tablet">
                <div class="has-text-centered is-size-5" th:if="${noFirstDataWorld}"></div>
                <div class="tile is-ancestor">
                    <div class="tile is-vertical">
                        <div class="tile">
                            <div class="tile is-parent is-vertical">
                                <div class="tile is-child notification is-info">
                                    <div class="is-size-5">Total confirmed</div>
                                    <div class="is-size-6"
                                         th:text="${dataWorldSummary.getTotalConfirmed() == 0} ? ${'No value, please try again later!'} : ${#numbers.formatInteger(dataWorldSummary.getTotalConfirmed(),3,'POINT')}"></div>
                                    <span class="icon is-pulled-right"><img src="/img/checkmark-outline.svg"></span>
                                    <div class="is-size-6"
                                         th:text="'+ ' + ${#numbers.formatInteger(dataWorldSummary.newConfirmed,3,'POINT')}"></div>
                                </div>
                            </div>
                            <div class="tile is-parent is-vertical">
                                <div class="tile is-child notification is-primary">
                                    <div class="is-size-5">Total recovered</div>
                                    <div class="is-size-6"
                                         th:text="${dataWorldSummary.getTotalRecovered() == 0} ? ${'No value, please try again later!'} : ${#numbers.formatInteger(dataWorldSummary.getTotalRecovered(),3,'POINT')}"></div>
                                    <span class="icon is-pulled-right"><img src="/img/fitness-outline.svg"></span>
                                    <div class="is-size-6"
                                         th:text="'+ ' + ${#numbers.formatInteger(dataWorldSummary.getNewRecovered(),3,'POINT')}"></div>
                                </div>
                            </div>
                            <div class="tile is-parent is-vertical">
                                <div class="tile is-child notification is-danger">
                                    <div class="is-size-5">Total deaths</div>
                                    <div class="is-size-6"
                                         th:text="${dataWorldSummary.getTotalDeaths() == 0} ? ${'No value, please try again later!'} : ${#numbers.formatInteger(dataWorldSummary.getTotalDeaths(),3,'POINT')}"></div>
                                    <span class="icon is-pulled-right"><img src="/img/skull-outline.svg"></span>
                                    <div class="is-size-6"
                                         th:text="'+ ' + ${#numbers.formatInteger(dataWorldSummary.getNewRecovered(),3,'POINT')}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tile">
                            <div class="tile is-parent is-vertical">
                                <div class="tile is-child notification is-warning">
                                    <div class="is-size-5">Active cases</div>
                                    <span class="icon is-pulled-right"><img src="/img/medkit-outline.svg"></span>
                                    <div class="is-size-6"
                                         th:text="${#numbers.formatInteger(dataWorldSummary.getTotalConfirmed() - dataWorldSummary.getTotalDeaths() -
                                   dataWorldSummary.getTotalRecovered(),3,'POINT')}"></div>
                                </div>
                            </div>
                            <div class="tile is-parent is-vertical">
                                <div class="tile is-child notification is-light">
                                    <div class="is-size-5">Last update</div>
                                    <div class="is-size-6" th:text="${date}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-10-tablet">
                <div class="has-text-centered is-size-5" th:if="${noDataWorld}"></div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-9-tablet">
                <canvas id="dataWorldConfirmed" class="box"></canvas>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-9-tablet">
                <canvas id="dataWorldRecovered" class="box"></canvas>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-9-tablet">
                <canvas id="dataWorldDeaths" class="box"></canvas>
            </div>
        </div>
    </section>
</div>
<script th:inline="javascript">
    let confCanvas = document.getElementById('dataWorldConfirmed');
    let recCanvas = document.getElementById('dataWorldRecovered');
    let deaCanvas = document.getElementById('dataWorldDeaths');
    let confLabel = 'Confirmed World COVID-19';
    let recLabel = 'Recovered World COVID-19';
    let deaLabel = 'Death World COVID-19';
    /*<![CDATA[*/
    let dates = /*[[${datesW}]]*/;
    let confList = /*[[${confirmedListW}]]*/;
    let recList = /*[[${recoveredListW}]]*/;
    let deaList = /*[[${deathsListW}]]*/;
    /*]]>*/

    barChartSelectedCountry(confCanvas, recCanvas, deaCanvas, confLabel, recLabel, deaLabel, dates, confList, recList, deaList);

    let dropdown = document.querySelector('.dropdown');
    dropdown.addEventListener('click', function (event) {
        event.stopPropagation();
        dropdown.classList.toggle('is-active');
    });
</script>
</body>
</html>