<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="/img/bar-chart-outline.svg" rel="icon" th:href="@{/img/bar-chart-outline.svg}" type="image/svg">
    <title>COVID-19 - Error</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" rel="stylesheet">
    <link href="/css/statistic-style.css" rel="stylesheet" th:href="@{/css/statistic-style.css}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <section class="section">
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                <div class="title is-3 has-text-centered">COVID-19 tracker - Error</div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-12-tablet is-11-desktop is-10-widescreen is-9-fullhd">
                <div class="has-text-centered is-size-5">
                    <div>Sorry, an error occurred. Please contact the admin for help or try again later:<br><a
                            href="mailto:info@tracker-covid19.de">info (at)
                        tracker-covid19.de</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-8-tablet is-7-desktop is-6-widescreen is-5-fullhd">
                <article class="message" th:if="${param.get('errorMessage') != null}">
                    <div class="message-body">
                        <p th:text="${#dates.createNow().toString() + ': ' + param.get('errorMessage')}"></p>
                    </div>
                </article>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                <article class="message" th:if="${error != 'None'}">
                    <div class="message-header">
                        Error infos
                    </div>
                    <div class="message-body">
                        <table class="table is-fullwidth">
                            <caption></caption>
                            <tr>
                                <th scope="row">Date</th>
                                <td th:text="${timestamp}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Path</th>
                                <td th:text="${path}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Error</th>
                                <td th:text="${error}"></td>
                            </tr>
                            <tr>
                                <th scope="row">Status</th>
                                <td th:text="${status}"></td>
                            </tr>
                        </table>
                    </div>
                </article>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-8-tablet is-7-desktop is-6-widescreen is-5-fullhd">
                <div class="buttons is-mobile is-centered">
                    <a class="button is-rounded" href="/covid19/world">World</a>
                </div>
            </div>
        </div>
    </section>
</div>
<footer class="footer">
    <div class="columns is-mobile is-centered">
        <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
            <div class="has-text-centered">
                Source
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://github.com/CSSEGISandData"
                   target="_blank">github.com/CSSEGISandData</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://about-corona.net/" target="_blank">about-corona.net</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://github.com/mathdroid/covid-19-api" target="_blank">github.com/mathdroid/covid-19-api</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://corona.lmao.ninja/" target="_blank">corona.lmao.ninja</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://github.com/owid/covid-19-data/tree/master/public/data" target="_blank">Our
                    World in Data</a>
            </div>
            <div class="has-text-centered">Contact: <a href="mailto:info@tracker-covid19.de">info (at)
                tracker-covid19.de</a></div>
        </div>
    </div>
</footer>
</body>
</html>