<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>COVID-19 - Statistics</title>
    <link href="../../css/bulma.min.css" rel="stylesheet" th:href="@{/css/bulma.min.css}">
    <style>
        .dropdown {
            display: inline-block;
        }

        .dropdown-content {
            padding-top: 0em;
            display: none;
            position: absolute;
            overflow: auto;
            z-index: 1;
            max-height: 20em;
        }

        .dropdown-content a {
            padding-right: 0em;
            display: block;
        }

        .dropdown a:hover {
            background-color: #ddd;
        }

        .show {
            display: block;
        }
    </style>
    <script th:inline="javascript">
        function getCountry(country) {
            document.location.replace("/covid19/summary/" + country);
        };
    </script>
</head>
<body>
<div class="container">
    <section class="section">
        <div class="columns is-centered">
            <div class="column">
                <div class="title is-3 has-text-centered">
                    Statistics for COVID-19
                </div>
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="box is-3">
                    <div class="buttons is-centered">
                        <a class="button is-medium is-link is-rounded" href="/covid19/world" type="submit">Go
                            to data worldwide</a>
                    </div>
                    <div class="buttons is-centered">
                        <a class="button is-medium is-link is-rounded" href="/covid19/germany" type="submit">Go
                            to data germany</a>
                    </div>
                    <div class="buttons is-centered">
                        <a class="button is-medium is-link is-rounded" href="/sir-model" type="submit">Go to
                            SIR-Model</a>
                    </div>
                    <div class="buttons is-centered">
                        <div class="dropdown">
                            <button class="button is-medium is-link is-rounded" onclick="myFunction()">Select country
                            </button>
                            <div class="dropdown-content" id="myDropdown">
                                <input class="input" id="myInput" onkeyup="filterFunction()"
                                       placeholder="Search for country.."
                                       type="text">
                                <div th:each="countries : ${listCountries}">
                                    <a class="dropdown-item"
                                       th:onclick="/*<![CDATA[*/ getCountry(/*[[${countries}]]*/) /*]]>*/"
                                       th:text="${countries}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="buttons is-centered">
                        <a class="button is-medium is-link is-rounded" href="/" type="submit">Select country for day one
                            total</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    let dropdown = document.querySelector('.dropdown');
    dropdown.addEventListener('click', function (event) {
        event.stopPropagation();
        dropdown.classList.toggle('is-active');
    });

    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
        let input, filter, div, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            let txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
</script>
</body>
</html>