<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>COVID-19 - Statistics</title>
    <link href="../../css/bulma.min.css" rel="stylesheet" th:href="@{/css/bulma.min.css}">
</head>
<body>
<div class="container">
    <section class="section">
        <div class="columns is-centered">
            <div class="column">
                <div class="title is-3 has-text-centered">
                    Statistics for COVID-19
                </div>
            </div>
        </div>
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="box is-3">
                    <div class="buttons is-centered">
                        <a class="button is-medium is-link is-rounded" href="/covid19/world" type="submit">Go
                            to data worldwide</a>
                    </div>
                    <div class="buttons is-centered">
                        <a class="button is-medium is-link is-rounded" href="/covid19/germany" type="submit">Go
                            to data germany</a>
                    </div>
                    <div class="buttons is-centered">
                        <a class="button is-medium is-link is-rounded" href="/sir-model" type="submit">Go to
                            SIR-Model</a>
                    </div>
                    <div class="buttons is-centered">
                        <a class="button is-medium is-link is-rounded" href="/" type="submit">Select country for daily
                            update</a>
                    </div>
                    <div class="buttons is-centered">
                        <a class="button is-medium is-link is-rounded" href="/" type="submit">Select country for day one
                            total</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>