<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="/img/bar-chart-outline.svg" rel="icon" th:href="@{/img/bar-chart-outline.svg}" type="image/svg">
    <title th:text="${title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" rel="stylesheet">
    <link href="/css/statistic-style.css" rel="stylesheet" th:href="@{/css/statistic-style.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script th:src="@{/js/charts.js}"></script>
    <script th:src="@{/js/statistic-script.js}"></script>
    <script th:inline="javascript">
        getCountryV2(country);
    </script>
</head>
<body>
<div class="has-background-light">
    <section class="section">
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                <div class="title is-3 has-text-centered">Province of <span th:text="${selectedCountry}"></span></div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                <div class="buttons is-centered">
                    <a class="button is-small is-link is-rounded" href="/covid19/world"
                       type="submit">World</a>
                    <a class="button is-small is-link is-rounded" href="/covid19/symptoms">Symptoms</a>
                    <a class="button is-small is-link is-rounded"
                       th:href="@{/covid19/country/{country}(country = ${selectedCountry})}" type="submit">Back</a>
                </div>
                <div class="buttons is-centered">
                    <div class="dropdown">
                        <button class="button is-link is-rounded" onclick="dropDownButton()">Select country</button>
                        <div class="dropdown-content" id="dropDownCountry">
                            <input class="input" id="dropDownInput" onkeyup="filterFunction()"
                                   placeholder="Search for country ..." type="text">
                            <div th:each="countries : ${listCountries}">
                                <a class="dropdown-item"
                                   th:onclick="/*<![CDATA[*/ getCountryV2(/*[[${countries}]]*/) /*]]>*/"
                                   th:text="${countries}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-10-tablet is-9-desktop is-8-widescreen is-7-fullhd"
                 style="padding: 0.01em">
                <div class="has-text-centered is-size-5" th:if="${noDetailsProvince}">No values for province available
                </div>
                <br>
                <div class="has-text-centered is-size-4">Province</div>
                <br>
                <div class="box" style="overflow: auto; height: 40em">
                    <div class="buttons is-centered">
                        <table class="table is-fullwidth">
                            <tbody>
                            <tr th:each="countryDailyDto : ${countryDailyDto}">
                                <td>
                                    <div class="is-pulled-left has-text-weight-bold"
                                         th:text="${countryDailyDto.getProvince()}"></div>
                                    <div class="is-pulled-right">
                                        <a class="button is-rounded is-small"
                                           th:href="@{/covid19/province/{province}(province=${countryDailyDto.getProvince()})}"
                                           th:if="${timeSeriesAvailable}">Details
                                        </a>
                                    </div>
                                    <div class="divTable">
                                        <div class="divTableBody">
                                            <div class="divTableRow">
                                                <div class="divTableCell"></div>
                                                <div class="divTableCell">Confirmed</div>
                                                <div class="divTableCell">Recovered</div>
                                                <div class="divTableCell">Deaths</div>
                                            </div>
                                            <div class="divTableRow">
                                                <div class="divTableCell">New</div>
                                                <div class="divTableCell has-text-weight-bold"
                                                     th:text="${#numbers.formatInteger(countryDailyDto.getIncrementConfirmed(),3,'POINT')}">
                                                </div>
                                                <div class="divTableCell has-text-weight-bold"
                                                     th:text="${#numbers.formatInteger(countryDailyDto.getIncrementRecovered(),3,'POINT')}">
                                                </div>
                                                <div class="divTableCell has-text-weight-bold"
                                                     th:text="${#numbers.formatInteger(countryDailyDto.getIncrementDeaths(),3,'POINT')}">
                                                </div>
                                            </div>
                                            <div class="divTableRow">
                                                <div class="divTableCell">Total</div>
                                                <div class="divTableCell has-text-weight-bold"
                                                     th:text="${#numbers.formatInteger(countryDailyDto.getConfirmed(),3,'POINT')}">
                                                </div>
                                                <div class="divTableCell has-text-weight-bold"
                                                     th:text="${#numbers.formatInteger(countryDailyDto.getRecovered(),3,'POINT')}">
                                                </div>
                                                <div class="divTableCell has-text-weight-bold"
                                                     th:text="${#numbers.formatInteger(countryDailyDto.getDeaths(),3,'POINT')}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<footer class="footer">
    <div class="columns is-mobile is-centered">
        <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
            <div class="has-text-centered">
                Source
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://github.com/CSSEGISandData"
                   target="_blank">github.com/CSSEGISandData</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://about-corona.net/" target="_blank">about-corona.net</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://github.com/mathdroid/covid-19-api" target="_blank">github.com/mathdroid/covid-19-api</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://corona.lmao.ninja/" target="_blank">corona.lmao.ninja</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://github.com/owid/covid-19-data/tree/master/public/data" target="_blank">Our
                    World in Data</a>
            </div>
            <div class="has-text-centered">Contact: <a href="mailto:info@tracker-covid19.de">info (at)
                tracker-covid19.de</a></div>
        </div>
    </div>
</footer>
</body>
</html>