<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>SIR-Model</title>
    <link href="../../css/bulma.min.css" rel="stylesheet" th:href="@{/css/bulma.min.css}">
    <link href="../../css/statistic-style.css" rel="stylesheet" th:href="@{/css/statistic-style.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
    <script th:src="@{/js/charts.js}"></script>
    <script th:inline="javascript">
        loading(id);

        getCountry(country);
    </script>
</head>
<body>
<div class="container">
    <section class="section">
        <div class="columns is-mobile is-centered">
            <div class="column">
                <div class="title is-3 has-text-centered">SIR-Model for pandemic</div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column">
                <div class="buttons is-centered">
                    <a class="button is-small is-link is-rounded" href="/covid19" type="submit">Go to home</a>
                    <a class="button is-small is-link is-rounded" href="/covid19/germany" type="submit">Go to data
                        germany</a>
                </div>
                <div class="buttons is-centered">
                    <div class="dropdown">
                        <button class="button is-link is-rounded" onclick="myFunction()">Select country
                        </button>
                        <div class="dropdown-content" id="myDropdown">
                            <input class="input" id="myInput" onkeyup="filterFunction()"
                                   placeholder="Search for country.." type="text">
                            <div th:each="countries : ${listCountries}">
                                <a class="dropdown-item"
                                   th:onclick="/*<![CDATA[*/ getCountry(/*[[${countries}]]*/) /*]]>*/"
                                   th:text="${countries}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-4-tablet">
                <form class="is-centered" method="post" th:action="@{/sir-model/newCalculation}" th:object="${values}">
                    <div class="field">
                        <label class="label">Transmission rate:</label>
                        <label for="transmissionRate"></label>
                    </div>
                    <div class="field">
                        <input class="input is-small is-rounded" id="transmissionRate"
                               th:field="*{transmissionRate}" type="text">
                    </div>
                    <div class="field">
                        <lable class="label">Recovery rate:</lable>
                        <label for="recoveryRate"></label>
                    </div>
                    <div class="field">
                        <input class="input is-small is-rounded" id="recoveryRate" th:field="*{recoveryRate}"
                               type="text">
                    </div>
                    <div class="buttons is-centered">
                        <button class="button is-small is-warning is-rounded" type="submit">Send</button>
                    </div>
                </form>
            </div>
            <div class="column is-3-tablet is-pulled-left">
                <div class="field">
                    <div class="is-text">Chart transmission rate:</div>
                </div>
                <label class="label" th:text="${transmissionRate}" type="text"></label>
                <div class="field">
                    <div class="is-text">Chart recovery rate:</div>
                </div>
                <label class="label" th:text="${recoveryRate}" type="text"></label>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-12-tablet box">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </section>
</div>
<script>
    const sus = [[${resultSusceptible}]];
    const inf = [[${resultInfected}]];
    const rec = [[${resultRecovered}]];

    let days = [];
    for (let i = 1; i <= sus.length; i++) {
        days.push('Day ' + i);
    }

    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: days,
            datasets: [{
                label: 'Susceptible',
                borderColor: 'rgb(65, 133, 234, 0.6)',
                fill: false,
                pointRadius: 5,
                data: sus
            }, {
                label: 'Infected',
                borderColor: 'rgb(250, 2, 6, 0.6)',
                fill: false,
                pointRadius: 5,
                data: inf
            }, {
                label: 'Recovered',
                borderColor: 'rgb(27, 205, 4, 0.6)',
                fill: false,
                pointRadius: 5,
                data: rec,
                showLine: true
            }]
        },
        options: {
            responsive: true,
            responsiveAnimationDuration: 0,
            maintainAspectRatio: false,
            aspectRatio: 0.9,
            onResize: null,
            tooltips: {
                mode: 'point'
            },
            legend: {
                display: true,
                position: 'bottom',
                align: 'center',
                labels: {
                    boxWidth: 40,
                    fontColor: 'rgb(000, 000, 000)'
                }
            },
            title: {
                display: true,
                fontSize: 20,
                padding: 15,
                fontColor: '#69C8C8',
                text: 'SIR Model'
            }
        }
    });
</script>
</body>
</html>