<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>SIR-Model</title>
    <link href="../../css/bulma.min.css" rel="stylesheet" th:href="@{/css/bulma.min.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
</head>
<body>

<section class="section">
    <div class="columns is-mobile">
        <div class="column">
            <div class="buttons is-centered">
                <a class="button is-small is-link is-rounded" href="/statisticsCorona/world" type="submit">Statistics
                    of corona world</a>
                <a class="button is-small is-link is-rounded" href="/statisticsCorona/germany" type="submit">Statistics
                    of corona germany</a>
            </div>
        </div>
        <div class="column">
            <form class="is-centered" method="post" th:action="@{/sir-model/newCalculation}" th:object="${values}">
                <div class="field">
                    <label class="label">Transmission rate:</label>
                    <label for="transmissionRate"></label>
                    <input class="input is-small is-rounded" id="transmissionRate" th:field="*{transmissionRate}"
                           type="text">
                </div>
                <div class="field">
                    <lable class="label">Recovery rate:</lable>
                    <label for="recoveryRate"></label>
                    <input class="input is-small is-rounded" id="recoveryRate" th:field="*{recoveryRate}" type="text">
                </div>
                <div class="buttons is-centered">
                    <button class="button is-small is-warning is-rounded" type="submit">Send</button>
                </div>
            </form>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Chart with transmission rate:</label>
                <label class="label" th:text="${transmissionRate}" type="text"></label>
            </div>
            <div class="field">
                <label class="label">Chart with recovery rate:</label>
                <label class="label" th:text="${recoveryRate}" type="text"></label>
            </div>
        </div>
    </div>
</section>

<canvas height="100" id="myChart" width="300"></canvas>

<script>
    const sus = [[${resultSusceptible}]];
    const inf = [[${resultInfected}]];
    const rec = [[${resultRecovered}]];

    let days = [];
    for (let i = 1; i <= sus.length; i++) {
        days.push('Day ' + i);
    }

    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: days,
            datasets: [{
                label: 'Susceptible',
                borderColor: '#4185EA',
                fill: false,
                pointRadius: 5,
                data: sus
            }, {
                label: 'Infected',
                borderColor: '#FA0206',
                fill: false,
                pointRadius: 5,
                data: inf
            }, {
                label: 'Recovered',
                borderColor: '#1BCD04',
                fill: false,
                pointRadius: 5,
                data: rec,
                showLine: true
            }]
        },
        options: {
            tooltips: {
                mode: 'point'
            },
            layout: {
                padding: {
                    left: 10,
                    right: 10,
                    top: 10,
                    bottom: 10
                }
            },
            legend: {
                display: true,
                position: 'bottom',
                align: 'center',
                labels: {
                    boxWidth: 60,
                    fontColor: 'rgb(000, 000, 000)'
                }
            },
            title: {
                display: true,
                fontSize: 20,
                padding: 15,
                fontColor: '#69C8C8',
                text: 'SIR Model'
            }
        }
    });
</script>
</body>
</html>