<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Statistics of corona worldwide</title>
    <link href="../../css/bulma.min.css" rel="stylesheet" th:href="@{/css/bulma.min.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
</head>
<body>

<section class="section">
    <div class="buttons">
        <a class="button is-small is-link is-rounded" href="/sir-model" type="submit">Back to SIR-Model</a>
    </div>
    <div class="columns is-mobile">
        <div class="column">
            <div class="field">
                <label class="label">Confirmed:</label>
                <label class="label" th:text="${confirmed}"></label>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Recovered:</label>
                <label class="label" th:text="${recovered}"></label>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Deaths:</label>
                <label class="label" th:text="${deaths}"></label>
            </div>
        </div>
        <div class="column">
            <div class="field">
                <label class="label">Last update:</label>
                <label class="label" th:text="${lastUpdate}"></label>
            </div>
        </div>
    </div>
</section>

<canvas height="100" id="dataWorldConfirmed" width="450"></canvas>

<script>
    const confirmed = [[${confirmedList}]];
    const dates = [[${dates}]];

    const ctx = document.getElementById('dataWorldConfirmed').getContext('2d');
    const dataWorldConfirmed = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: dates,
            datasets: [{
                label: 'Confirmed',
                backgroundColor: 'rgb(147,190,234, 0.6)',
                borderWidth: 1,
                borderColor: 'rgb(13,23,234)',
                hoverBackgroundColor: 'rgb(147,190,234, 0.7)',
                barPercentage: 0.9,
                barThickness: 15,
                maxBarThickness: 20,
                minBarLength: 100,
                data: confirmed
            }]
        },
        options: {
            layout: {
                padding: {
                    left: 10,
                    right: 10,
                    top: 10,
                    bottom: 10
                }
            },
            legend: {
                display: true,
                position: 'bottom',
                align: 'center',
                labels: {
                    boxWidth: 40,
                    fontColor: 'rgb(000, 000, 000)'
                }
            },
            title: {
                display: true,
                fontSize: 20,
                padding: 15,
                fontColor: '#69C8C8',
                text: 'Confirmed world'
            }
        }
    });
</script>

<canvas height="100" id="dataWorldRecovered" width="450"></canvas>

<script>
    const recovered = [[${recoveredList}]];
    const dates2 = [[${dates}]];

    const ctx2 = document.getElementById('dataWorldRecovered').getContext('2d');
    const dataWorldRecovered = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: dates2,
            datasets: [{
                label: 'Recovered',
                backgroundColor: 'rgba(167,234,122,0.6)',
                borderWidth: 1,
                borderColor: 'rgb(9,234,14)',
                hoverBackgroundColor: 'rgba(187,234,109,0.7)',
                barPercentage: 0.9,
                barThickness: 15,
                maxBarThickness: 20,
                minBarLength: 100,
                data: recovered
            }]
        },
        options: {
            layout: {
                padding: {
                    left: 10,
                    right: 10,
                    top: 10,
                    bottom: 10
                }
            },
            legend: {
                display: true,
                position: 'bottom',
                align: 'center',
                labels: {
                    boxWidth: 40,
                    fontColor: 'rgb(000, 000, 000)'
                }
            },
            title: {
                display: true,
                fontSize: 20,
                padding: 15,
                fontColor: '#69C8C8',
                text: 'Recovered world'
            }
        }
    });
</script>

<canvas height="100" id="dataWorldDeaths" width="450"></canvas>

<script>
    const deaths = [[${deathsList}]];
    const dates3 = [[${dates}]];

    const ctx3 = document.getElementById('dataWorldDeaths').getContext('2d');
    const dataWorldDeaths = new Chart(ctx3, {
        type: 'bar',
        data: {
            labels: dates3,
            datasets: [{
                label: 'Death',
                backgroundColor: 'rgba(234,127,121,0.6)',
                borderWidth: 1,
                borderColor: 'rgb(234,3,12)',
                hoverBackgroundColor: 'rgba(234,81,77,0.7)',
                barPercentage: 0.9,
                barThickness: 15,
                maxBarThickness: 20,
                minBarLength: 100,
                data: deaths
            }]
        },
        options: {
            layout: {
                padding: {
                    left: 10,
                    right: 10,
                    top: 10,
                    bottom: 10
                }
            },
            legend: {
                display: true,
                position: 'bottom',
                align: 'center',
                labels: {
                    boxWidth: 40,
                    fontColor: 'rgb(000, 000, 000)'
                }
            },
            title: {
                display: true,
                fontSize: 20,
                padding: 15,
                fontColor: '#69C8C8',
                text: 'Death world'
            }
        }
    });
</script>
</body>
</html>