<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Statistics for corona worldwide</title>
    <link href="../../css/bulma.min.css" rel="stylesheet" th:href="@{/css/bulma.min.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
</head>
<body>

<div class="container">
    <section class="section">
        <div class="columns is-mobile is-centered">
            <div class="column">
                <div class="title is-3 has-text-centered">
                    John Hopkins University data for worldwide
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column">
                <div class="buttons is-centered">
                    <a class="button is-small is-link is-rounded" href="/sir-model" type="submit">Go to SIR-Model</a>
                    <a class="button is-small is-link is-rounded" href="/statisticsCorona/germany" type="submit">Go to
                        data germany</a>
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-3">
                <div class="field">
                    <div class="is-text">Confirmed:</div>
                    <div class="is-text" th:text="${confirmed}"></div>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <div class="is-text">Recovered:</div>
                    <div class="is-text" th:text="${recovered}"></div>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <div class="is-text">Deaths:</div>
                    <div class="is-text" th:text="${deaths}"></div>
                </div>
            </div>
            <div class="column is-3">
                <div class="field">
                    <div class="is-text">Last update:</div>
                    <div class="is-text" th:text="${lastUpdate}"></div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="columns">
    <div class="column">
        <div>
            New Today show here
        </div>
    </div>
    <div class="column">
        <canvas height="250" id="dataWorldConfirmed" width="450"></canvas>
    </div>
</div>
<div class="columns">
    <div class="column">
        <canvas height="250" id="dataWorldRecovered" width="450"></canvas>
    </div>
    <div class="column">
        <canvas height="250" id="dataWorldDeaths" width="450"></canvas>
    </div>
</div>

<script>
    const dates = [[${dates}]];
    const confirmed = [[${confirmedList}]];
    const dateConfirmed = [];
    const ctx = document.getElementById('dataWorldConfirmed').getContext('2d');
    const dataWorldConfirmed = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: dates,
            datasets: [{
                label: 'Confirmed COVID-19',
                backgroundColor: 'rgb(147,190,234, 0.6)',
                borderWidth: 1,
                borderColor: 'rgb(13,23,234)',
                hoverBackgroundColor: 'rgb(147,190,234, 0.7)',
                barPercentage: 0.9,
                barThickness: 10,
                maxBarThickness: 15,
                minBarLength: 200,
                data: confirmed
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    display: true,
                    label: 'Date',
                    ticks: {
                        callback: function (dataLabel) {
                            dateConfirmed.push(dataLabel);
                            if (dateConfirmed.filter(d => d === dataLabel).length >= 2) {
                                return '';
                            } else {
                                return dataLabel + '.2020';
                            }
                            // Hide the label of every 2nd dataset. return null to hide the grid line too
                            //return index % 2 === 0 ? dataLabel : '';
                        }
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    display: true,
                    beginAtZero: false,
                    scaleLabel: {
                        display: true,
                        labelString: 'Confirmed'
                    }
                }]
            },
            layout: {
                padding: {
                    left: 10,
                    right: 10,
                    top: 10,
                    bottom: 10
                }
            },
            legend: {
                display: true,
                position: 'bottom',
                align: 'center',
                labels: {
                    boxWidth: 40,
                    fontColor: 'rgb(000, 000, 000)'
                }
            },
            title: {
                display: true,
                fontSize: 20,
                padding: 15,
                fontColor: '#69C8C8',
                text: 'Confirmed COVID-19'
            }
        }
    });

    const recovered = [[${recoveredList}]];
    const dateRecovered = [];
    const ctx2 = document.getElementById('dataWorldRecovered').getContext('2d');
    const dataWorldRecovered = new Chart(ctx2, {
        type: 'bar',
        data: {
            labels: dates,
            datasets: [{
                label: 'Recovered COVID-19',
                backgroundColor: 'rgba(167,234,122,0.6)',
                borderWidth: 1,
                borderColor: 'rgb(9,234,14)',
                hoverBackgroundColor: 'rgba(187,234,109,0.7)',
                barPercentage: 0.9,
                barThickness: 10,
                maxBarThickness: 15,
                minBarLength: 200,
                data: recovered
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    display: true,
                    label: 'Date',
                    ticks: {
                        callback: function (dataLabel) {
                            dateRecovered.push(dataLabel);
                            if (dateRecovered.filter(d => d === dataLabel).length >= 2) {
                                return '';
                            } else {
                                return dataLabel + '.2020';
                            }
                        }
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    display: true,
                    beginAtZero: false,
                    scaleLabel: {
                        display: true,
                        labelString: 'Recovered'
                    }
                }]
            },
            layout: {
                padding: {
                    left: 10,
                    right: 10,
                    top: 10,
                    bottom: 10
                }
            },
            legend: {
                display: true,
                position: 'bottom',
                align: 'center',
                labels: {
                    boxWidth: 40,
                    fontColor: 'rgb(000, 000, 000)'
                }
            },
            title: {
                display: true,
                fontSize: 20,
                padding: 15,
                fontColor: '#69C8C8',
                text: 'Recovered COVID-19'
            }
        }
    });

    const deaths = [[${deathsList}]];
    const dateDeath = [];
    const ctx3 = document.getElementById('dataWorldDeaths').getContext('2d');
    const dataWorldDeaths = new Chart(ctx3, {
        type: 'bar',
        data: {
            labels: dates,
            datasets: [{
                label: 'Death COVID-19',
                backgroundColor: 'rgba(234,127,121,0.6)',
                borderWidth: 1,
                borderColor: 'rgb(234,3,12)',
                hoverBackgroundColor: 'rgba(234,81,77,0.7)',
                barPercentage: 0.9,
                barThickness: 10,
                maxBarThickness: 15,
                minBarLength: 200,
                data: deaths
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    display: true,
                    label: 'Date',
                    ticks: {
                        callback: function (dataLabel) {
                            dateDeath.push(dataLabel);
                            if (dateDeath.filter(d => d === dataLabel).length >= 2) {
                                return '';
                            } else {
                                return dataLabel + '.2020';
                            }
                        }
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    display: true,
                    beginAtZero: false,
                    scaleLabel: {
                        display: true,
                        labelString: 'Death'
                    }
                }]
            },
            layout: {
                padding: {
                    left: 10,
                    right: 10,
                    top: 10,
                    bottom: 10
                }
            },
            legend: {
                display: true,
                position: 'bottom',
                align: 'center',
                labels: {
                    boxWidth: 40,
                    fontColor: 'rgb(000, 000, 000)'
                }
            },
            title: {
                display: true,
                fontSize: 20,
                padding: 15,
                fontColor: '#69C8C8',
                text: 'Death COVID-19'
            }
        }
    });
</script>
</body>
</html>