<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="/img/bar-chart-outline.svg" rel="icon" th:href="@{/img/bar-chart-outline.svg}" type="image/svg">
    <title>COVID-19 - Symtoms</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" rel="stylesheet">
    <link href="/css/statistic-style.css" rel="stylesheet" th:href="@{/css/statistic-style.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/6692742fb4.js"></script>
    <script th:src="@{../js/charts.js}"></script>
    <script th:src="@{../js/statistic-script.js}"></script>
    <script th:inline="javascript">
        getCountryV2(country);
    </script>
</head>
<body>
<div class="has-background-light">
    <section class="section">
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                <div class="title is-3 has-text-centered">COVID-19 symptoms and prevention</div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                <div class="buttons is-mobile is-centered">
                    <a class="button is-small is-link is-rounded" href="/covid19/world"
                       type="submit">World</a>
                </div>
                <div class="buttons is-centered">
                    <div class="dropdown">
                        <button class="button is-link is-rounded" onclick="dropDownButton()">Select country
                        </button>
                        <div class="dropdown-content" id="dropDownCountry">
                            <input class="input" id="dropDownInput" onkeyup="filterFunction()"
                                   placeholder="Search for country ..." type="text">
                            <div th:each="countries : ${listCountries}">
                                <a class="dropdown-item"
                                   th:onclick="/*<![CDATA[*/ getCountryV2(/*[[${countries}]]*/) /*]]>*/"
                                   th:text="${countries}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-12-tablet is-11-desktop is-10-widescreen is-9-fullhd">
                <div class="title is-4">Most common symptoms</div>
                <div class="tile is-ancestor is-horizontal">
                    <div class="tile is-parent">
                        <div class="tile is-child box"><span class="icon is-medium"><i
                                class="fas fa-lg fa-temperature-high"></i></i></span> Fever
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child box"><span class="icon is-medium"><i
                                class="fas fa-lg fa-head-side-cough"></i></span> Dry cough
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child box"><span class="icon is-medium"><i
                                class="far fa-lg fa-meh"></i></span> Fatigue
                        </div>
                    </div>
                </div>
                <div class="title is-4">Severe symptoms</div>
                <div class="tile is-ancestor is-horizontal">
                    <div class="tile is-parent">
                        <div class="tile is-child box">Difficulty breathing or shortness of breath</div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child box">Pain or feeling of pressure in the chest area</div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child box">Loss of ability to speak or move</div>
                    </div>
                </div>
                <div class="title is-4">Less common symptoms</div>
                <div class="tile is-ancestor is-horizontal">
                    <div class="tile is-parent">
                        <div class="tile is-child box">Body aches</div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child box">Sore throat</div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child box">Diarrhea</div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child box">Conjunctivitis</div>
                    </div>
                </div>
                <div class="tile is-ancestor is-horizontal">
                    <div class="tile is-parent">
                        <div class="tile is-child box">A headache</div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child box">Loss of taste or smell</div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child box">Discoloration on fingers or toes or rash</div>
                    </div>
                </div>
                <div class="title is-4">Prevention</div>
                <div class="tile is-ancestor is-horizontal">
                    <div class="tile is-parent">
                        <div class="tile is-child box"><span class="icon is-medium"><i
                                class="fas fa-lg fa-house-user"></i></span> Stay at home
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child box"><span class="icon is-medium"><i
                                class="fas fa-lg fa-hands-wash"></i></span> Wash your hands frequently for 20 seconds
                            with soap
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child box"><span class="icon is-medium"><i
                                class="fas fa-lg fa-people-arrows"></i></span> Social distancing
                        </div>
                    </div>
                </div>
                <div class="tile is-ancestor is-horizontal">
                    <div class="tile is-parent">
                        <div class="tile is-child box"><span class="icon is-medium"><i
                                class="fas fa-lg fa-head-side-mask"></i></span> Wear a mask
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child box"><span class="icon is-medium"><i class="fas fa-lg fa-user-md"></i></span>
                            Contact a doctor if you have fever, cough, or difficulty breathing
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child box"><span class="icon is-medium"><i
                                class="fas fa-lg fa-house-user"></i></span> When you feel sick stay at home
                        </div>
                    </div>
                </div>
                <div class="has-text-centered">
                    More information at <a class="is-link"
                                           href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public"
                                           target="_blank">World health organization</a>
                </div>
            </div>
        </div>
    </section>
</div>
<footer class="footer">
    <div class="columns is-mobile is-centered">
        <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
            <div class="has-text-centered">
                Source
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://github.com/CSSEGISandData"
                   target="_blank">github.com/CSSEGISandData</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://about-corona.net/" target="_blank">about-corona.net</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://github.com/mathdroid/covid-19-api" target="_blank">github.com/mathdroid/covid-19-api</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://corona.lmao.ninja/" target="_blank">corona.lmao.ninja</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://github.com/owid/covid-19-data/tree/master/public/data" target="_blank">Our
                    World in Data</a>
            </div>
            <div class="has-text-centered">Contact: <a href="mailto:info@tracker-covid19.de">info (at)
                tracker-covid19.de</a></div>
        </div>
    </div>
</footer>
</body>
</html>