<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/img/bar-chart-outline.svg" rel="icon" type="image/svg">
    <title>COVID-19 - Data for worldwide</title>
    <link href="css/myStyles.css" rel="stylesheet" th:href="@{/css/myStyles.css}">
    <link href="css/statistic-style.css" rel="stylesheet" th:href="@{/css/statistic-style.css}">
    <link href="css/toggle-switch.css" rel="stylesheet" th:href="@{/css/toggle-switch.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script th:src="@{/js/charts.js}"></script>
    <script th:src="@{/js/statistic-script.js}"></script>
    <script th:inline="javascript">
        getCountryV2(country);
    </script>
</head>
<body>
<div class="container">
    <section class="section">
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                <div class="title is-3 has-text-centered">COVID-19 worldwide</div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                <div class="buttons is-mobile is-centered">
                    <a class="button is-small is-link is-rounded" href="/sir" type="submit">SIR-Model</a>
                    <a class="button is-small is-link is-rounded" href="/covid19/symptoms">Symptoms</a>
                    <a class="button is-small is-link is-rounded" href="/" id="loadingUpdate"
                       onclick="loading('loadingUpdate')">Update</a>
                </div>
                <div class="buttons is-centered">
                    <div class="dropdown">
                        <button class="button is-link is-rounded" onclick="dropDownButton()">Select country
                        </button>
                        <div class="dropdown-content" id="dropDownCountry">
                            <input class="input" id="dropDownInput" onkeyup="filterFunction()"
                                   placeholder="Search for country ..." type="text">
                            <div th:each="countries : ${listCountries}">
                                <a class="dropdown-item"
                                   th:onclick="/*<![CDATA[*/ getCountryV2(/*[[${countries}]]*/) /*]]>*/"
                                   th:text="${countries}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-12-tablet is-11-desktop is-10-widescreen is-9-fullhd">
                <div class="has-text-centered is-size-5" th:if="${noDataForWorldTimeSeries}">No data available for world
                    time series. Please try again later.
                </div>
                <br>
                <div class="tile is-ancestor">
                    <div class="tile is-horizontal">
                        <div class="tile is-parent">
                            <div class="tile is-child notification is-info">
                                <span class="icon is-pulled-right"><img alt="checkmark"
                                                                        src="/img/checkmark-outline.svg"></span>
                                <div class="is-size-5">Confirmed</div>
                                <div class="is-size-6"
                                     th:text="${latestDataWorld.getConfirmed() == 0} ? ${'No value'}
                                         : ${#numbers.formatInteger(latestDataWorld.getConfirmed(),3,'POINT')}"></div>
                                <div class="is-size-6"
                                     th:if="${latestDataWorld.getNewConfirmed() != 0}"
                                     th:text="'+ ' + ${#numbers.formatInteger(latestDataWorld.getNewConfirmed(),3,'POINT')}"></div>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child notification is-success">
                                <span class="icon is-pulled-right"><img alt="fitness"
                                                                        src="/img/fitness-outline.svg"></span>
                                <div class="is-size-5">Recovered</div>
                                <div class="is-size-6"
                                     th:text="${latestDataWorld.getRecovered() == 0} ? ${'No value'}
                                         : ${#numbers.formatInteger(latestDataWorld.getRecovered(),3,'POINT')}"></div>
                                <div class="is-size-6"
                                     th:if="${latestDataWorld.getNewRecovered() != 0}"
                                     th:text="'+ ' + ${#numbers.formatInteger(latestDataWorld.getNewRecovered(),3,'POINT')}"></div>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child notification is-danger">
                                <span class="icon is-pulled-right"><img alt="skull" src="/img/skull-outline.svg"></span>
                                <div class="is-size-5">Deaths</div>
                                <div class="is-size-6"
                                     th:text="${latestDataWorld.getDeaths() == 0} ? ${'No value'}
                                         : ${#numbers.formatInteger(latestDataWorld.getDeaths(),3,'POINT')}"></div>
                                <div class="is-size-6"
                                     th:if="${latestDataWorld.getNewDeaths() != 0}"
                                     th:text="'+ ' + ${#numbers.formatInteger(latestDataWorld.getNewDeaths(),3,'POINT')}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile is-ancestor">
                    <div class="tile is-horizontal">
                        <div class="tile is-parent">
                            <div class="tile is-child notification is-warning">
                                <span class="icon is-pulled-right"><img alt="medkit"
                                                                        src="/img/medkit-outline.svg"></span>
                                <div class="is-size-5">Active cases</div>
                                <div class="is-size-6"
                                     th:text="${latestDataWorld.getActive() == 0} ? ${'No value'}
                                         : ${#numbers.formatInteger(latestDataWorld.getActive(),3,'POINT')}"></div>
                                <div class="is-size-6"
                                     th:if="${latestDataWorld.getActive() - secondValueWorld.getActive() >= 0}"
                                     th:text="'+ ' + ${#numbers.formatInteger(latestDataWorld.getActive() - secondValueWorld.getActive(),3,'POINT')}"></div>
                                <div class="is-size-6"
                                     th:if="${latestDataWorld.getActive() - secondValueWorld.getActive() < 0}"
                                     th:text="'- ' + ${#numbers.formatInteger(inverted,3,'POINT')}"
                                     th:with="inverted=${-(latestDataWorld.getActive() - secondValueWorld.getActive())}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-parent">
                        <div class="tile is-child notification is-light">
                                <span class="icon is-pulled-right"><img alt="analytics"
                                                                        src="/img/analytics-outline.svg"></span>
                            <div class="is-size-5">Data</div>
                            <div class="is-size-7 is-pulled-right tag is-danger"
                                 th:text="${deathsRate == 0} ? ${'No value'}
                                         : ${#numbers.formatDecimal(deathsRate, 1, 'COMMA', 2, 'POINT') + ' %'}"></div>
                            <div class="is-size-6">Deaths rate:</div>
                            <hr class="dropdown-divider">
                            <div class="is-size-5">Last update</div>
                            <div class="is-size-6" th:text="${latestDataWorld.getUpdated_at() == null} ? ${'No value'}
                                         : ${lastUpdate}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns is-mobile is-centered">
            <div class="column is-8-tablet is-7-desktop is-6-widescreen is-5-fullhd">
                <div class="switch-toggle switch-ios">
                    <input checked id="line" name="view" onclick="toggleToLineChart()" type="radio">
                    <label class="is-size-7-mobile" for="line" onclick="">Line</label>
                    <input id="bar" name="view" onclick="toggleToBarChart()" type="radio">
                    <label class="is-size-7-mobile" for="bar" onclick="">Bar</label>
                    <input id="confirmed" name="view" onclick="toggleToConfirmed()" type="radio">
                    <label class="is-size-7-mobile" for="confirmed" onclick="">Confirmed</label>
                    <input id="recovered" name="view" onclick="toggleToRecovered()" type="radio">
                    <label class="is-size-7-mobile" for="recovered" onclick="">Recovered</label>
                    <input id="deaths" name="view" onclick="toggleToDeaths()" type="radio">
                    <label class="is-size-7-mobile" for="deaths" onclick="">Deaths</label>
                    <a></a>
                </div>
                <br>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd box">
                <canvas id="canvasWorld"></canvas>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-8-tablet is-7-desktop is-6-widescreen is-5-fullhd">
                <br>
                <div class="title has-text-centered is-size-3">Rest of world</div>
                <div class="buttons has-addons-centered is-centered" id="myDIV">
                    <button class="button is-rounded is-small btn activeButton" id="buttonTotal">Total cases</button>
                    <button class="button is-rounded is-small btn" id="buttonActive">Active cases</button>
                    <button class="button is-rounded is-small btn" id="buttonDeaths">Deaths</button>
                </div>
                <div class="has-text-centered is-size-5" th:if="${noValuesAllCountries}">No values for all countries
                    available!
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                <div class="box" style="overflow: auto; height: 40em">
                    <div id="listTotal">
                        <div class="hide-on-small">
                            <table class="table is-striped is-fullwidth">
                                <thead>
                                <tr>
                                    <th>Country</th>
                                    <th>Total cases</th>
                                    <th>Recovered</th>
                                    <th>Active</th>
                                    <th>Deaths</th>
                                    <th>More details</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="dailyReportDto : ${totalTable}">
                                    <td th:text="${dailyReportDto.getCountry()}"></td>
                                    <td><span class="tag is-info"
                                              th:text="${#numbers.formatInteger(dailyReportDto.getConfirmed(),3,'POINT')}"></span>
                                    </td>
                                    <td><span
                                            class="tag is-success"
                                            th:text="${#numbers.formatInteger(dailyReportDto.getRecovered(),3,'POINT')}"></span>
                                    </td>
                                    <td><span
                                            class="tag is-warning"
                                            th:text="${#numbers.formatInteger(dailyReportDto.getActive(),3,'POINT')}"></span>
                                    </td>
                                    <td><span
                                            class="tag is-danger"
                                            th:text="${#numbers.formatInteger(dailyReportDto.getDeaths(),3,'POINT')}"></span>
                                    </td>
                                    <td>
                                        <a class="button is-rounded is-small" style="margin-top: 0.5rem;"
                                           th:onclick="/*<![CDATA[*/ getCountryV2(/*[[${dailyReportDto.getCountry()}]]*/) /*]]>*/">
                                            Details
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="hide-on-big">
                            <div th:each="dailyReportDto : ${totalTable}">
                                <hr class="dropdown-divider">
                                <div class="collapsible">
                                    <div class="is-pulled-left" th:text="${dailyReportDto.getCountry()}"></div>
                                    <div class="is-pulled-right contentSign"
                                         th:text="${#numbers.formatInteger(dailyReportDto.getConfirmed(),3,'POINT')}"></div>
                                </div>
                                <div class="content">
                                    <div class="card" style="margin-top: 0.2em;">
                                        <div class="card-content">
                                            <div class="field">Total cases: <span
                                                    class="is-pulled-right tag is-info"
                                                    th:text="${#numbers.formatInteger(dailyReportDto.getConfirmed(),3,'POINT')}"></span>
                                            </div>
                                            <div class="field">Recovered: <span
                                                    class="is-pulled-right tag is-success"
                                                    th:text="${#numbers.formatInteger(dailyReportDto.getRecovered(),3,'POINT')}"></span>
                                            </div>
                                            <div class="field">Active: <span class="is-pulled-right tag is-warning"
                                                                             th:text="${#numbers.formatInteger(dailyReportDto.getActive(),3,'POINT')}"></span>
                                            </div>
                                            <div class="field">Deaths: <span class="is-pulled-right tag is-danger"
                                                                             th:text="${#numbers.formatInteger(dailyReportDto.getDeaths(),3,'POINT')}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="buttons has-addons is-centered">
                                        <a class="button is-rounded is-small" style="margin-top: 0.5rem;"
                                           th:onclick="/*<![CDATA[*/ getCountryV2(/*[[${dailyReportDto.getCountry()}]]*/) /*]]>*/">
                                            Details
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="listActive" style="display: none;">
                        <div class="hide-on-small">
                            <table class="table is-striped is-fullwidth">
                                <thead>
                                <tr>
                                    <th>Country</th>
                                    <th>Active</th>
                                    <th>Total cases</th>
                                    <th>Recovered</th>
                                    <th>Deaths</th>
                                    <th>More details</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="dailyReportDto : ${activeTable}">
                                    <td th:text="${dailyReportDto.getCountry()}"></td>
                                    <td><span
                                            class="tag is-warning"
                                            th:text="${#numbers.formatInteger(dailyReportDto.getActive(),3,'POINT')}"></span>
                                    </td>
                                    <td><span class="tag is-info"
                                              th:text="${#numbers.formatInteger(dailyReportDto.getConfirmed(),3,'POINT')}"></span>
                                    </td>
                                    <td><span
                                            class="tag is-success"
                                            th:text="${#numbers.formatInteger(dailyReportDto.getRecovered(),3,'POINT')}"></span>
                                    </td>
                                    <td><span
                                            class="tag is-danger"
                                            th:text="${#numbers.formatInteger(dailyReportDto.getDeaths(),3,'POINT')}"></span>
                                    </td>
                                    <td>
                                        <a class="button is-rounded is-small" style="margin-top: 0.5rem;"
                                           th:onclick="/*<![CDATA[*/ getCountryV2(/*[[${dailyReportDto.getCountry()}]]*/) /*]]>*/">
                                            Details
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="hide-on-big">
                            <div th:each="dailyReportDto : ${activeTable}">
                                <hr class="dropdown-divider">
                                <div class="collapsible">
                                    <div class="is-pulled-left" th:text="${dailyReportDto.getCountry()}"></div>
                                    <div class="is-pulled-right contentSign"
                                         th:text="${#numbers.formatInteger(dailyReportDto.getActive(),3,'POINT')}"></div>
                                </div>
                                <div class="content">
                                    <div class="card" style="margin-top: 0.2em;">
                                        <div class="card-content">
                                            <div class="field">Total cases: <span
                                                    class="is-pulled-right tag is-info"
                                                    th:text="${#numbers.formatInteger(dailyReportDto.getConfirmed(),3,'POINT')}"></span>
                                            </div>
                                            <div class="field">Recovered: <span
                                                    class="is-pulled-right tag is-success"
                                                    th:text="${#numbers.formatInteger(dailyReportDto.getRecovered(),3,'POINT')}"></span>
                                            </div>
                                            <div class="field">Active: <span class="is-pulled-right tag is-warning"
                                                                             th:text="${#numbers.formatInteger(dailyReportDto.getActive(),3,'POINT')}"></span>
                                            </div>
                                            <div class="field">Deaths: <span class="is-pulled-right tag is-danger"
                                                                             th:text="${#numbers.formatInteger(dailyReportDto.getDeaths(),3,'POINT')}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="buttons has-addons is-centered">
                                        <div class="button is-rounded is-small" style="margin-top: 0.5rem;"
                                             th:onclick="/*<![CDATA[*/ getCountryV2(/*[[${dailyReportDto.getCountry()}]]*/) /*]]>*/">
                                            Details
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="listDeaths" style="display: none">
                        <div class="hide-on-small">
                            <table class="table is-striped is-fullwidth">
                                <thead>
                                <tr>
                                    <th>Country</th>
                                    <th>Deaths</th>
                                    <th>Total cases</th>
                                    <th>Recovered</th>
                                    <th>Active</th>
                                    <th>More details</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="dailyReportDto : ${deathsTable}">
                                    <td th:text="${dailyReportDto.getCountry()}"></td>
                                    <td><span
                                            class="tag is-danger"
                                            th:text="${#numbers.formatInteger(dailyReportDto.getDeaths(),3,'POINT')}"></span>
                                    </td>
                                    <td><span class="tag is-info"
                                              th:text="${#numbers.formatInteger(dailyReportDto.getConfirmed(),3,'POINT')}"></span>
                                    </td>
                                    <td><span
                                            class="tag is-success"
                                            th:text="${#numbers.formatInteger(dailyReportDto.getRecovered(),3,'POINT')}"></span>
                                    </td>
                                    <td><span
                                            class="tag is-warning"
                                            th:text="${#numbers.formatInteger(dailyReportDto.getActive(),3,'POINT')}"></span>
                                    </td>
                                    <td>
                                        <a class="button is-rounded is-small" style="margin-top: 0.5rem;"
                                           th:onclick="/*<![CDATA[*/ getCountryV2(/*[[${dailyReportDto.getCountry()}]]*/) /*]]>*/">
                                            Details
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="hide-on-big">
                            <div th:each="dailyReportDto : ${deathsTable}">
                                <hr class="dropdown-divider">
                                <div class="collapsible">
                                    <div class="is-pulled-left" th:text="${dailyReportDto.getCountry()}"></div>
                                    <div class="is-pulled-right contentSign"
                                         th:text="${#numbers.formatInteger(dailyReportDto.getDeaths(),3,'POINT')}"></div>
                                </div>
                                <div class="content">
                                    <div class="card" style="margin-top: 0.2em;">
                                        <div class="card-content">
                                            <div class="field">Total cases: <span
                                                    class="is-pulled-right tag is-info"
                                                    th:text="${#numbers.formatInteger(dailyReportDto.getConfirmed(),3,'POINT')}"></span>
                                            </div>
                                            <div class="field">Recovered: <span
                                                    class="is-pulled-right tag is-success"
                                                    th:text="${#numbers.formatInteger(dailyReportDto.getRecovered(),3,'POINT')}"></span>
                                            </div>
                                            <div class="field">Active: <span class="is-pulled-right tag is-warning"
                                                                             th:text="${#numbers.formatInteger(dailyReportDto.getActive(),3,'POINT')}"></span>
                                            </div>
                                            <div class="field">Deaths: <span class="is-pulled-right tag is-danger"
                                                                             th:text="${#numbers.formatInteger(dailyReportDto.getDeaths(),3,'POINT')}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="buttons has-addons is-centered">
                                        <div class="button is-rounded is-small" style="margin-top: 0.5rem;"
                                             th:onclick="/*<![CDATA[*/ getCountryV2(/*[[${dailyReportDto.getCountry()}]]*/) /*]]>*/">
                                            Details
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<footer class="footer">
    <div class="columns is-mobile is-centered">
        <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
            <div class="has-text-centered">Source JHU <a class="is-link" href="https://github.com/CSSEGISandData"
                                                         target="_blank">github.com/CSSEGISandData</a>
            </div>
            <div class="has-text-centered">Contact: <a href="mailto:info@tracker-covid19.de">info (at)
                tracker-covid19.de</a></div>
        </div>
    </div>
</footer>
<script th:inline="javascript">
    let canvasWorld = document.getElementById('canvasWorld');
    /*<![CDATA[*/
    let dates = /*[[${dateTimeSeries}]]*/ '';
    let confList = /*[[${confirmed}]]*/ '';
    let recList = /*[[${recovered}]]*/ '';
    let deaList = /*[[${deaths}]]*/ '';
    /*]]>*/

    barLineChartAllValues(canvasWorld, dates, 'World', confList, recList, deaList);

    function toggleToBarChart() {
        changeChart(canvasWorld, dates, 'World', confList, recList, deaList, 'bar');
    }

    function toggleToLineChart() {
        changeChart(canvasWorld, dates, 'World', confList, recList, deaList, 'line');
    }

    function toggleToConfirmed() {
        changeChart(canvasWorld, dates, 'Confirmed', confList, recList, deaList)
    }

    function toggleToRecovered() {
        changeChart(canvasWorld, dates, 'Recovered', confList, recList, deaList);
    }

    function toggleToDeaths() {
        changeChart(canvasWorld, dates, 'Deaths', confList, recList, deaList);
    }
</script>
</body>
</html>