<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/img/bar-chart-outline.svg" rel="icon" type="image/svg">
    <title>COVID-19 - Data for worldwide</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" rel="stylesheet">
    <link href="css/statistic-style.css" rel="stylesheet" th:href="@{/css/statistic-style.css}">
    <link href="css/toggle-switch.css" rel="stylesheet" th:href="@{/css/toggle-switch.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script th:src="@{/js/charts.js}"></script>
    <script th:src="@{/js/statistic-script.js}"></script>
    <script th:inline="javascript">
        getCountryV2(country);
    </script>
</head>
<body>
<div class="has-background-light">
    <section class="section">
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                <div class="title is-3 has-text-centered">COVID-19 worldwide</div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                <div class="buttons is-mobile is-centered">
                    <a class="button is-small is-link is-rounded" href="/covid19/symptoms">Symptoms</a>
                    <a class="button is-small is-link is-rounded" href="/" id="loadingUpdate"
                       onclick="loading('loadingUpdate')">Update</a>
                </div>
                <div class="buttons is-centered">
                    <div class="dropdown">
                        <button class="button is-link is-rounded" onclick="dropDownButton()">Select country
                        </button>
                        <div class="dropdown-content" id="dropDownCountry">
                            <input class="input" id="dropDownInput" onkeyup="filterFunction()"
                                   placeholder="Search for country ..." type="text">
                            <div th:each="countries : ${listCountries}">
                                <a class="dropdown-item"
                                   th:onclick="/*<![CDATA[*/ getCountryV2(/*[[${countries}]]*/) /*]]>*/"
                                   th:text="${countries}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-12-tablet is-11-desktop is-10-widescreen is-9-fullhd">
                <div class="has-text-centered is-size-5" th:if="${noDataForWorldTimeSeries}">No data available for world
                    time series. Please try again later.
                </div>
                <br>
                <div class="tile is-ancestor">
                    <div class="tile is-horizontal">
                        <div class="tile is-parent">
                            <div class="tile is-child box has-text-info has-text-weight-bold">
                                <div class="is-size-6"
                                     th:text="${worldValuesDto.getConfirmed().getValue() == 0} ? ${'No value'}
                                         : ${#numbers.formatInteger(worldValuesDto.getConfirmed().getValue(),3,'POINT')}"></div>
                                <div class="is-size-6"
                                     th:if="${worldValuesDto.getNewConfirmed() != 0}"
                                     th:text="'+ ' + ${#numbers.formatInteger(worldValuesDto.getNewConfirmed(),3,'POINT')}"></div>
                                <span class="icon is-pulled-right"><img alt="checkmark"
                                                                        src="/img/checkmark-outline.svg"></span>
                                <div class="is-size-5">Confirmed</div>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child box has-text-success has-text-weight-bold">
                                <div class="is-size-6"
                                     th:text="${worldValuesDto.getRecovered().getValue() == 0} ? ${'No value'}
                                         : ${#numbers.formatInteger(worldValuesDto.getRecovered().getValue(),3,'POINT')}"></div>
                                <div class="is-size-6"
                                     th:if="${worldValuesDto.getNewRecovered() != 0}"
                                     th:text="'+ ' + ${#numbers.formatInteger(worldValuesDto.getNewRecovered(),3,'POINT')}"></div>
                                <span class="icon is-pulled-right"><img alt="fitness"
                                                                        src="/img/fitness-outline.svg"></span>
                                <div class="is-size-5">Recovered</div>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child box has-text-danger has-text-weight-bold">
                                <div class="is-size-6"
                                     th:text="${worldValuesDto.getDeaths().getValue() == 0} ? ${'No value'}
                                         : ${#numbers.formatInteger(worldValuesDto.getDeaths().getValue(),3,'POINT')}"></div>
                                <div class="is-size-6"
                                     th:if="${worldValuesDto.getNewDeaths() != 0}"
                                     th:text="'+ ' + ${#numbers.formatInteger(worldValuesDto.getNewDeaths(),3,'POINT')}"></div>
                                <span class="icon is-pulled-right"><img alt="skull" src="/img/skull-outline.svg"></span>
                                <div class="is-size-5">Deaths</div>
                            </div>
                        </div>
                        <div class="tile is-parent">
                            <div class="tile is-child box has-text-weight-bold has-text-warning-dark">
                                <div class="is-size-6"
                                     th:text="${worldValuesDto.getActive() == 0} ? ${'No value'}
                                         : ${#numbers.formatInteger(worldValuesDto.getActive(),3,'POINT')}"></div>
                                <div class="is-size-6"
                                     th:if="${worldValuesDto.getActive() - activeYesterday >= 0}"
                                     th:text="'+ ' + ${#numbers.formatInteger(worldValuesDto.getActive() - activeYesterday,3,'POINT')}"></div>
                                <div class="is-size-6"
                                     th:if="${worldValuesDto.getActive() - activeYesterday < 0}"
                                     th:text="'- ' + ${#numbers.formatInteger(inverted,3,'POINT')}"
                                     th:with="inverted=${-(worldValuesDto.getActive() - activeYesterday)}"></div>
                                <span class="icon is-pulled-right"><img alt="medkit"
                                                                        src="/img/medkit-outline.svg"></span>
                                <div class="is-size-5">Cases</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns is-mobile is-centered">
                    <div class="column is-7-tablet is-6-desktop is-5-widescreen is-4-fullhd">
                        <div class="tile is-ancestor">
                            <div class="tile is-parent">
                                <div class="tile is-child box">
                                <span class="icon is-pulled-right"><img alt="analytics"
                                                                        src="/img/analytics-outline.svg"></span>
                                    <div class="is-size-5">Data</div>
                                    <div class="is-size-7 is-pulled-right tag is-danger"
                                         th:text="${worldValuesDto.getDeathsRate() == 0} ? ${'No value'}
                                         : ${#numbers.formatDecimal(worldValuesDto.getDeathsRate(), 1, 'COMMA', 2, 'POINT') + ' %'}"></div>
                                    <div class="is-size-6">Deaths rate:</div>
                                    <hr class="dropdown-divider-own">
                                    <div class="is-size-7 is-pulled-right tag is-success"
                                         th:text="${worldValuesDto.getRecoveryRate() == 0} ? ${'No value'}
                                         : ${#numbers.formatDecimal(worldValuesDto.getRecoveryRate(), 1, 'COMMA', 2, 'POINT') + ' %'}"></div>
                                    <div class="is-size-6">Recovery rate:</div>
                                    <hr class="dropdown-divider-own">
                                    <div class="is-size-5">Last update</div>
                                    <div class="is-size-6" th:text="${worldValuesDto.getLastUpdate() == null} ? ${'No value'}
                                         : ${lastUpdate}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-8-tablet is-7-desktop is-6-widescreen is-5-fullhd">
                <div class="switch-toggle switch-ios">
                    <input checked id="line" name="view" onclick="toggleToLineChart()" type="radio">
                    <label class="is-size-7-mobile" for="line" onclick="">Line</label>
                    <input id="bar" name="view" onclick="toggleToBarChart()" type="radio">
                    <label class="is-size-7-mobile" for="bar" onclick="">Bar</label>
                    <input id="confirmed" name="view" onclick="toggleToConfirmed()" type="radio">
                    <label class="is-size-7-mobile" for="confirmed" onclick="">Confirmed</label>
                    <input id="recovered" name="view" onclick="toggleToRecovered()" type="radio">
                    <label class="is-size-7-mobile" for="recovered" onclick="">Recovered</label>
                    <input id="deaths" name="view" onclick="toggleToDeaths()" type="radio">
                    <label class="is-size-7-mobile" for="deaths" onclick="">Deaths</label>
                    <a></a>
                </div>
                <br>
            </div>
        </div>
        <div class="container">
            <div class="columns is-mobile is-centered">
                <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd box">
                    <canvas id="canvasWorld"></canvas>
                </div>
            </div>
            <br>
            <div class="columns is-mobile is-centered">
                <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                    <br>
                    <div class="has-text-centered is-size-4">Daily trend of COVID-19 worldwide</div>
                </div>
            </div>
            <div class="columns is-mobile is-centered">
                <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                    <canvas class="box" id="confirmedOneDay"></canvas>
                </div>
            </div>
            <div class="columns is-mobile is-centered">
                <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                    <canvas class="box" id="recoveredOneDay"></canvas>
                </div>
            </div>
            <div class="columns is-mobile is-centered">
                <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                    <canvas class="box" id="deathsOneDay"></canvas>
                </div>
            </div>
            <br>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-8-tablet is-8-desktop is-7-widescreen is-6-fullhd">
                <div class="columns is-mobile is-centered">
                    <div class="column is-12-mobile is-8-tablet is-7-desktop is-6-widescreen is-5-fullhd">
                        <br>
                        <div class="title has-text-centered is-size-3">Rest of world</div>
                        <div class="buttons has-addons-centered is-centered" id="myDIV">
                            <button class="button is-rounded is-small btn activeButton" id="buttonTotal">Cases</button>
                            <button class="button is-rounded is-small btn" id="buttonActive">Active</button>
                            <button class="button is-rounded is-small btn" id="buttonDeaths">Deaths</button>
                        </div>
                        <div class="has-text-centered is-size-5" th:if="${noValuesAllCountries}">No values for all
                            countries available!
                        </div>
                    </div>
                </div>
                <div class="columns is-mobile is-centered">
                    <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                        <div class="buttons is-centered">
                            <div id="listTotal">
                                <div class="box hide-on-small" style="overflow: auto; height: 40em">
                                    <table class="table is-striped is-hoverable is-fullwidth">
                                        <thead>
                                        <tr>
                                            <th>Country</th>
                                            <th>Cases</th>
                                            <th>Recovered</th>
                                            <th>Active</th>
                                            <th>Deaths</th>
                                            <th>Details</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="dailyReportDto : ${totalTable}">
                                            <td th:text="${dailyReportDto.getCountry()}"></td>
                                            <td><span class="tag is-info"
                                                      th:text="${#numbers.formatInteger(dailyReportDto.getConfirmed(),3,'POINT')}"></span>
                                            </td>
                                            <td><span
                                                    class="tag is-success"
                                                    th:text="${#numbers.formatInteger(dailyReportDto.getRecovered(),3,'POINT')}"></span>
                                            </td>
                                            <td><span
                                                    class="tag is-warning"
                                                    th:text="${#numbers.formatInteger(dailyReportDto.getActive(),3,'POINT')}"></span>
                                            </td>
                                            <td><span
                                                    class="tag is-danger"
                                                    th:text="${#numbers.formatInteger(dailyReportDto.getDeaths(),3,'POINT')}"></span>
                                            </td>
                                            <td>
                                                <a class="button is-rounded is-small" style="margin-top: 0.5rem;"
                                                   th:onclick="/*<![CDATA[*/ getCountryV2(/*[[${dailyReportDto.getCountry()}]]*/) /*]]>*/">
                                                    Details
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="box hide-on-big" style="overflow: auto; height: 30em">
                                    <table class="table is-striped is-hoverable is-fullwidth">
                                        <thead>
                                        <tr>
                                            <th>Cases</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="dailyReportDto : ${totalTable}">
                                            <td>
                                                <div class="collapsible">
                                                    <div class="is-pulled-left"
                                                         th:text="${dailyReportDto.getCountry()}"></div>
                                                    <div class="is-pulled-right contentSign"
                                                         th:text="${#numbers.formatInteger(dailyReportDto.getConfirmed(),3,'POINT')}"></div>
                                                </div>
                                                <div class="content">
                                                    <div class="card" style="margin-top: 0.2em;">
                                                        <div class="card-content">
                                                            <div class="field">Cases: <span
                                                                    class="is-pulled-right tag is-info"
                                                                    th:text="${#numbers.formatInteger(dailyReportDto.getConfirmed(),3,'POINT')}"></span>
                                                            </div>
                                                            <div class="field">Recovered: <span
                                                                    class="is-pulled-right tag is-success"
                                                                    th:text="${#numbers.formatInteger(dailyReportDto.getRecovered(),3,'POINT')}"></span>
                                                            </div>
                                                            <div class="field">Active: <span
                                                                    class="is-pulled-right tag is-warning"
                                                                    th:text="${#numbers.formatInteger(dailyReportDto.getActive(),3,'POINT')}"></span>
                                                            </div>
                                                            <div class="field">Deaths: <span
                                                                    class="is-pulled-right tag is-danger"
                                                                    th:text="${#numbers.formatInteger(dailyReportDto.getDeaths(),3,'POINT')}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="buttons has-addons is-centered">
                                                        <a class="button is-rounded is-small"
                                                           style="margin-top: 0.5rem;"
                                                           th:onclick="/*<![CDATA[*/ getCountryV2(/*[[${dailyReportDto.getCountry()}]]*/) /*]]>*/">
                                                            Details
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="buttons is-centered">
                            <div id="listActive" style="display: none;">
                                <div class="box hide-on-small" style="overflow: auto; height: 40em">
                                    <table class="table is-striped is-hoverable is-fullwidth">
                                        <thead>
                                        <tr>
                                            <th>Country</th>
                                            <th>Active</th>
                                            <th>Cases</th>
                                            <th>Recovered</th>
                                            <th>Deaths</th>
                                            <th>Details</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="dailyReportDto : ${activeTable}">
                                            <td th:text="${dailyReportDto.getCountry()}"></td>
                                            <td><span
                                                    class="tag is-warning"
                                                    th:text="${#numbers.formatInteger(dailyReportDto.getActive(),3,'POINT')}"></span>
                                            </td>
                                            <td><span class="tag is-info"
                                                      th:text="${#numbers.formatInteger(dailyReportDto.getConfirmed(),3,'POINT')}"></span>
                                            </td>
                                            <td><span
                                                    class="tag is-success"
                                                    th:text="${#numbers.formatInteger(dailyReportDto.getRecovered(),3,'POINT')}"></span>
                                            </td>
                                            <td><span
                                                    class="tag is-danger"
                                                    th:text="${#numbers.formatInteger(dailyReportDto.getDeaths(),3,'POINT')}"></span>
                                            </td>
                                            <td>
                                                <a class="button is-rounded is-small" style="margin-top: 0.5rem;"
                                                   th:onclick="/*<![CDATA[*/ getCountryV2(/*[[${dailyReportDto.getCountry()}]]*/) /*]]>*/">
                                                    Details
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="box hide-on-big" style="overflow: auto; height: 30em">
                                    <table class="table is-striped is-hoverable is-fullwidth">
                                        <thead>
                                        <tr>
                                            <th>Active</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="dailyReportDto : ${activeTable}">
                                            <td>
                                                <div class="collapsible">
                                                    <div class="is-pulled-left"
                                                         th:text="${dailyReportDto.getCountry()}"></div>
                                                    <div class="is-pulled-right contentSign"
                                                         th:text="${#numbers.formatInteger(dailyReportDto.getActive(),3,'POINT')}"></div>
                                                </div>
                                                <div class="content">
                                                    <div class="card" style="margin-top: 0.2em;">
                                                        <div class="card-content">
                                                            <div class="field">Cases: <span
                                                                    class="is-pulled-right tag is-info"
                                                                    th:text="${#numbers.formatInteger(dailyReportDto.getConfirmed(),3,'POINT')}"></span>
                                                            </div>
                                                            <div class="field">Recovered: <span
                                                                    class="is-pulled-right tag is-success"
                                                                    th:text="${#numbers.formatInteger(dailyReportDto.getRecovered(),3,'POINT')}"></span>
                                                            </div>
                                                            <div class="field">Active: <span
                                                                    class="is-pulled-right tag is-warning"
                                                                    th:text="${#numbers.formatInteger(dailyReportDto.getActive(),3,'POINT')}"></span>
                                                            </div>
                                                            <div class="field">Deaths: <span
                                                                    class="is-pulled-right tag is-danger"
                                                                    th:text="${#numbers.formatInteger(dailyReportDto.getDeaths(),3,'POINT')}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="buttons has-addons is-centered">
                                                        <div class="button is-rounded is-small"
                                                             style="margin-top: 0.5rem;"
                                                             th:onclick="/*<![CDATA[*/ getCountryV2(/*[[${dailyReportDto.getCountry()}]]*/) /*]]>*/">
                                                            Details
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="buttons is-centered">
                            <div id="listDeaths" style="display: none">
                                <div class="box hide-on-small" style="overflow: auto; height: 40em">
                                    <table class="table is-striped is-hoverable is-fullwidth">
                                        <thead>
                                        <tr>
                                            <th>Country</th>
                                            <th>Deaths</th>
                                            <th>Cases</th>
                                            <th>Recovered</th>
                                            <th>Active</th>
                                            <th>Details</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="dailyReportDto : ${deathsTable}">
                                            <td th:text="${dailyReportDto.getCountry()}"></td>
                                            <td><span
                                                    class="tag is-danger"
                                                    th:text="${#numbers.formatInteger(dailyReportDto.getDeaths(),3,'POINT')}"></span>
                                            </td>
                                            <td><span class="tag is-info"
                                                      th:text="${#numbers.formatInteger(dailyReportDto.getConfirmed(),3,'POINT')}"></span>
                                            </td>
                                            <td><span
                                                    class="tag is-success"
                                                    th:text="${#numbers.formatInteger(dailyReportDto.getRecovered(),3,'POINT')}"></span>
                                            </td>
                                            <td><span
                                                    class="tag is-warning"
                                                    th:text="${#numbers.formatInteger(dailyReportDto.getActive(),3,'POINT')}"></span>
                                            </td>
                                            <td>
                                                <a class="button is-rounded is-small" style="margin-top: 0.5rem;"
                                                   th:onclick="/*<![CDATA[*/ getCountryV2(/*[[${dailyReportDto.getCountry()}]]*/) /*]]>*/">
                                                    Details
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="box hide-on-big" style="overflow: auto; height: 30em">
                                    <table class="table is-striped is-hoverable is-fullwidth">
                                        <thead>
                                        <tr>
                                            <th>Deaths</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="dailyReportDto : ${deathsTable}">
                                            <td>
                                                <!--<hr class="dropdown-divider-own">-->
                                                <div class="collapsible">
                                                    <div class="is-pulled-left"
                                                         th:text="${dailyReportDto.getCountry()}"></div>
                                                    <div class="is-pulled-right contentSign"
                                                         th:text="${#numbers.formatInteger(dailyReportDto.getDeaths(),3,'POINT')}"></div>
                                                </div>
                                                <div class="content">
                                                    <div class="card" style="margin-top: 0.2em;">
                                                        <div class="card-content">
                                                            <div class="field">Cases: <span
                                                                    class="is-pulled-right tag is-info"
                                                                    th:text="${#numbers.formatInteger(dailyReportDto.getConfirmed(),3,'POINT')}"></span>
                                                            </div>
                                                            <div class="field">Recovered: <span
                                                                    class="is-pulled-right tag is-success"
                                                                    th:text="${#numbers.formatInteger(dailyReportDto.getRecovered(),3,'POINT')}"></span>
                                                            </div>
                                                            <div class="field">Active: <span
                                                                    class="is-pulled-right tag is-warning"
                                                                    th:text="${#numbers.formatInteger(dailyReportDto.getActive(),3,'POINT')}"></span>
                                                            </div>
                                                            <div class="field">Deaths: <span
                                                                    class="is-pulled-right tag is-danger"
                                                                    th:text="${#numbers.formatInteger(dailyReportDto.getDeaths(),3,'POINT')}"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="buttons has-addons is-centered">
                                                        <div class="button is-rounded is-small"
                                                             style="margin-top: 0.5rem;"
                                                             th:onclick="/*<![CDATA[*/ getCountryV2(/*[[${dailyReportDto.getCountry()}]]*/) /*]]>*/">
                                                            Details
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<footer class="footer">
    <div class="columns is-mobile is-centered">
        <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
            <div class="has-text-centered">
                Source
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://github.com/CSSEGISandData"
                   target="_blank">github.com/CSSEGISandData</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://about-corona.net/" target="_blank">about-corona.net</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://github.com/mathdroid/covid-19-api" target="_blank">github.com/mathdroid/covid-19-api</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://corona.lmao.ninja/" target="_blank">corona.lmao.ninja</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://www.trackcorona.live/" target="_blank">trackcorona.live</a>
            </div>
            <div class="has-text-centered">Contact: <a href="mailto:info@tracker-covid19.de">info (at)
                tracker-covid19.de</a></div>
        </div>
    </div>
</footer>
<script th:inline="javascript">
    let canvasWorld = document.getElementById('canvasWorld');
    /*<![CDATA[*/
    let dates = /*[[${dateTS}]]*/ '';
    let confList = /*[[${confirmed}]]*/ '';
    let recList = /*[[${recovered}]]*/ '';
    let deaList = /*[[${deaths}]]*/ '';
    /*]]>*/

    barLineChartAllValues(canvasWorld, dates, 'World', confList, recList, deaList);

    function toggleToBarChart() {
        changeChart(canvasWorld, dates, 'World', confList, recList, deaList, 'bar');
    }

    function toggleToLineChart() {
        changeChart(canvasWorld, dates, 'World', confList, recList, deaList, 'line');
    }

    function toggleToConfirmed() {
        changeChart(canvasWorld, dates, 'Confirmed', confList, recList, deaList)
    }

    function toggleToRecovered() {
        changeChart(canvasWorld, dates, 'Recovered', confList, recList, deaList);
    }

    function toggleToDeaths() {
        changeChart(canvasWorld, dates, 'Deaths', confList, recList, deaList);
    }

    /*<![CDATA[*/
    let confirmedOneDay = /*[[${dailyConfirmed}]]*/ '';
    let recoveredOneDay = /*[[${dailyRecovered}]]*/ '';
    let deathsOneDay = /*[[${dailyDeaths}]]*/ '';
    let datesOneDay = /*[[${dateTS}]]*/ '';
    /*]]>*/

    changedBarChartPerDay(document.getElementById('confirmedOneDay'), datesOneDay, confirmedOneDay, 'Confirmed');
    changedBarChartPerDay(document.getElementById('recoveredOneDay'), datesOneDay, recoveredOneDay, 'Recovered');
    changedBarChartPerDay(document.getElementById('deathsOneDay'), datesOneDay, deathsOneDay, 'Deaths');
</script>
</body>
</html>