<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/img/bar-chart-outline.svg" rel="icon" type="image/svg">
    <title th:text="${title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" rel="stylesheet">
    <link href="css/statistic-style.css" rel="stylesheet" th:href="@{/css/statistic-style.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2/dist/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
    <script th:src="@{/js/charts.js}"></script>
    <script th:src="@{/js/statistic-script.js}"></script>
</head>
<body>
<div class="has-background-light">
    <section class="section">
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                <div class="title is-3 has-text-centered">Details for country <span
                        th:text="${selectedCountry}"></span></div>
            </div>
        </div>
        <div class="columns is-mobile is-centered">
            <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                <div class="buttons is-centered">
                    <a class="button is-small is-link is-rounded" href="/" type="submit">Home</a>
                    <a class="button is-small is-link is-rounded" href="/covid19/symptoms">Symptoms</a>
                    <a class="button is-small is-link is-rounded"
                       th:href="@{/covid19/timeSeries/country/{country}(country = ${selectedCountry})}" type="submit">Back</a>
                </div>
                <div class="buttons is-centered">
                    <div class="dropdown">
                        <button class="button is-link is-rounded" onclick="dropDownButton()">Select country
                        </button>
                        <div class="dropdown-content" id="dropDownCountry">
                            <input class="input" id="dropDownInput" onkeyup="filterFunction()"
                                   placeholder="Search for country ..." type="text">
                            <div th:each="countries : ${listCountries}">
                                <a class="dropdown-item"
                                   th:onclick="/*<![CDATA[*/ getCountryV2(/*[[${countries}]]*/) /*]]>*/"
                                   th:text="${countries}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="columns is-mobile is-centered">
                <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
                    <div class="has-text-centered is-size-5" th:if="${noDetailsProvinceUs}"
                         th:text="${noDetailsProvinceUs}">No values for province available
                    </div>
                    <br>
                    <div class="column is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd hide-on-small">
                        <div class="buttons is-centered">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label has-text-centered">Search</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-narrow">
                                        <input class="input is-" id="searchProvince" onkeyup="searchFunctionProvince()"
                                               placeholder="Search for province.." title="Type in a province name"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="box hide-on-smallUS" style="overflow: auto; height: 30em">
                        <table class="table is-striped is-hoverable is-fullwidth" id="provinceTable">
                            <thead>
                            <tr>
                                <th>Province</th>
                                <th>Cases</th>
                                <th>Recovered</th>
                                <th>Active</th>
                                <th>Deaths</th>
                                <th>Incident rate</th>
                                <th>People tested</th>
                                <th>People hospitalized</th>
                                <th>Mortality rate</th>
                                <th>Testing rate</th>
                                <th>Hospitalization rate</th>
                                <th>Details</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="dailyReportUsDto : ${allValuesProvinceUS}">
                                <td th:text="${dailyReportUsDto.getProvince()}"></td>
                                <td><span class="tag is-info"
                                          th:text="${dailyReportUsDto.getConfirmed() == null} ? ${'No value'}
                                         : ${#numbers.formatInteger(dailyReportUsDto.getConfirmed(),3,'POINT')}"></span>
                                </td>
                                <td><span
                                        class="tag is-success"
                                        th:text="${dailyReportUsDto.getRecovered() == null} ? ${'No value'}
                                         : ${#numbers.formatInteger(dailyReportUsDto.getRecovered(),3,'POINT')}"></span>
                                </td>
                                <td><span
                                        class="tag is-warning"
                                        th:text="${dailyReportUsDto.getActive() == null} ? ${'No value'}
                                         : ${#numbers.formatInteger(dailyReportUsDto.getActive(),3,'POINT')}"></span>
                                </td>
                                <td><span
                                        class="tag is-danger"
                                        th:text="${dailyReportUsDto.getDeaths() == null} ? ${'No value'}
                                         : ${#numbers.formatInteger(dailyReportUsDto.getDeaths(),3,'POINT')}"></span>
                                </td>
                                <td><span
                                        class="tag is-light"
                                        th:text="${dailyReportUsDto.getIncidentRate() == null} ? ${'No value'}
                                         : ${#numbers.formatInteger(dailyReportUsDto.getIncidentRate(),3,'POINT')}"></span>
                                </td>
                                <td><span
                                        class="tag is-light"
                                        th:text="${dailyReportUsDto.getPeopleTested() == null} ? ${'No value'}
                                         : ${#numbers.formatInteger(dailyReportUsDto.getPeopleTested(),3,'POINT')}"></span>
                                </td>
                                <td><span
                                        class="tag is-light"
                                        th:text="${dailyReportUsDto.getPeopleHospitalized() == null} ? ${'No value'}
                                         : ${#numbers.formatInteger(dailyReportUsDto.getPeopleHospitalized(),3,'POINT')}"></span>
                                </td>
                                <td><span
                                        class="tag is-light"
                                        th:text="${dailyReportUsDto.getMortalityRate() == null} ? ${'No value'}
                                         : ${#numbers.formatInteger(dailyReportUsDto.getMortalityRate(),3,'POINT')}"></span>
                                </td>
                                <td><span
                                        class="tag is-light"
                                        th:text="${dailyReportUsDto.getTestingRate() == null} ? ${'No value'}
                                         : ${#numbers.formatInteger(dailyReportUsDto.getTestingRate(),3,'POINT')}"></span>
                                </td>
                                <td><span
                                        class="tag is-light"
                                        th:text="${dailyReportUsDto.getHospitalizationRate() == null} ? ${'No value'}
                                         : ${#numbers.formatInteger(dailyReportUsDto.getHospitalizationRate(),3,'POINT')}"></span>
                                </td>
                                <td>
                                    <a class="button is-rounded is-small" style="margin-top: 0.5rem;"
                                       th:href="@{/covid19/timeSeries/province/us/{usProvince}(usProvince=${dailyReportUsDto.getProvince()})}">Details</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="column is-12-mobile is-12-tablet hide-on-big">
                        <div class="buttons is-centered">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label has-text-centered">Search</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-narrow">
                                        <input class="input is-" id="searchProvinceMobile"
                                               onkeyup="searchFunctionProvinceMobile()"
                                               placeholder="Search for province.." title="Type in a province name"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="box hide-on-bigUS" style="overflow: auto; height: 40em">
                        <table class="table is-striped is-hoverable is-fullwidth" id="provinceTableMobile">
                            <thead>
                            <tr>
                                <th>Province state</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="dailyReportUsDto : ${allValuesProvinceUS}">
                                <td>
                                    <div class="collapsible">
                                        <div class="is-pulled-left" th:text="${dailyReportUsDto.getProvince()}"></div>
                                        <div class="is-pulled-right contentSign"></div>
                                    </div>
                                    <div class="content">
                                        <div class="card" style="margin-top: 0.2em;">
                                            <div class="card-content">
                                                <div class="field">Cases: <span
                                                        class="is-pulled-right tag is-info"
                                                        th:text="${dailyReportUsDto.getConfirmed() == null} ? ${'No value'}
                                                                                  : ${#numbers.formatInteger(dailyReportUsDto.getConfirmed(),3,'POINT')}"></span>
                                                </div>
                                                <div class="field">Recovered: <span
                                                        class="is-pulled-right tag is-success"
                                                        th:text="${dailyReportUsDto.getRecovered() == null} ? ${'No value'}
                                                                                  : ${#numbers.formatInteger(dailyReportUsDto.getRecovered(),3,'POINT')}"></span>
                                                </div>
                                                <div class="field">Active: <span class="is-pulled-right tag is-warning"
                                                                                 th:text="${dailyReportUsDto.getActive() == null} ? ${'No value'}
                                                                                  : ${#numbers.formatInteger(dailyReportUsDto.getActive(),3,'POINT')}"></span>
                                                </div>
                                                <div class="field">Deaths: <span class="is-pulled-right tag is-danger"
                                                                                 th:text="${dailyReportUsDto.getDeaths() == null} ? ${'No value'}
                                                                                  : ${#numbers.formatInteger(dailyReportUsDto.getDeaths(),3,'POINT')}"></span>
                                                </div>
                                                <div class="field">Incident rate: <span
                                                        class="is-pulled-right tag is-light"
                                                        th:text="${dailyReportUsDto.getIncidentRate() == null} ? ${'No value'}
                                                                                  : ${#numbers.formatInteger(dailyReportUsDto.getIncidentRate(),3,'POINT') + ' %'}"></span>
                                                </div>
                                                <div class="field">People tested: <span
                                                        class="is-pulled-right tag is-light"
                                                        th:text="${dailyReportUsDto.getPeopleTested() == null} ? ${'No value'}
                                                                                  : ${#numbers.formatInteger(dailyReportUsDto.getPeopleTested(),3,'POINT')}"></span>
                                                </div>
                                                <div class="field">People hospitalized: <span
                                                        class="is-pulled-right tag is-light"
                                                        th:text="${dailyReportUsDto.getPeopleHospitalized() == null} ? ${'No value'}
                                                    : ${#numbers.formatInteger(dailyReportUsDto.getPeopleHospitalized(),3,'POINT')}"></span>
                                                </div>
                                                <div class="field">Mortality rate: <span
                                                        class="is-pulled-right tag is-light"
                                                        th:text="${dailyReportUsDto.getMortalityRate() == null} ? ${'No value'}
                                                    : ${#numbers.formatInteger(dailyReportUsDto.getMortalityRate(),3,'POINT') + ' %'}"></span>
                                                </div>
                                                <div class="field">Testing rate: <span
                                                        class="is-pulled-right tag is-light"
                                                        th:text="${dailyReportUsDto.getTestingRate() == null} ? ${'No value'}
                                                                                  : ${#numbers.formatInteger(dailyReportUsDto.getTestingRate(),3,'POINT') + ' %'}"></span>
                                                </div>
                                                <div class="field">Hospitalization rate: <span
                                                        class="is-pulled-right tag is-light"
                                                        th:text="${dailyReportUsDto.getHospitalizationRate() == null} ? ${'No value'}
                                                    : ${#numbers.formatInteger(dailyReportUsDto.getHospitalizationRate(),3,'POINT') + ' %'}"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="buttons has-addons is-centered">
                                            <a class="button is-rounded is-small" style="margin-top: 0.5rem;"
                                               th:href="@{/covid19/timeSeries/province/us/{usProvince}(usProvince=${dailyReportUsDto.getProvince()})}">Details</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <!--<div class="column is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd hide-on-smallUS">
                        <div class="buttons is-centered">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Search</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-narrow">
                                        <input class="input is-" id="searchDistrict" onkeyup="searchFunctionDistrict()"
                                               placeholder="Search for district.." title="Type in a district name"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="box hide-on-smallUS" style="overflow: auto; height: 20em">
                        <table class="table is-striped is-hoverable is-fullwidth" id="districtTable">
                            <thead>
                            <tr>
                                <th>District</th>
                                <th>Total cases</th>
                                <th>Recovered</th>
                                <th>Active</th>
                                <th>Deaths</th>
                                <th>Details</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="districtDto : ${districtValues}">
                                <td th:text="${districtDto.getLocation()}"></td>
                                <td><span class="tag is-info"
                                          th:text="${#numbers.formatInteger(districtDto.getConfirmed(),3,'POINT')}"></span>
                                </td>
                                <td><span
                                        class="tag is-success"
                                        th:text="${#numbers.formatInteger(districtDto.getRecovered(),3,'POINT')}"></span>
                                </td>
                                <td><span
                                        class="tag is-warning"
                                        th:text="${districtDto.getRecovered() == 0} ? ${'No value'}
                                             : ${#numbers.formatInteger(districtDto.getConfirmed()
                                            - districtDto.getRecovered() - districtDto.getDead(),3,'POINT')}"></span>
                                </td>
                                <td><span
                                        class="tag is-danger"
                                        th:text="${#numbers.formatInteger(districtDto.getDead(),3,'POINT')}"></span>
                                </td>
                                <td>
                                    <a class="button is-rounded is-small" style="margin-top: 0.5rem;"
                                       th:href="@{/covid19/timeSeries/district/us/{district}(district=${districtDto.getLocation()})}">Details</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="column is-12-mobile is-12-tablet hide-on-bigUS">
                        <div class="buttons is-centered">
                            <div class="field is-horizontal">
                                <div class="field-label is-normal">
                                    <label class="label">Search</label>
                                </div>
                                <div class="field-body">
                                    <div class="field is-narrow">
                                        <input class="input is-" id="searchDistrictMobile"
                                               onkeyup="searchFunctionDistrictMobile()"
                                               placeholder="Search for district.." title="Type in a district name"
                                               type="text">
                                    </div>
                                </div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                    <div class="box hide-on-bigUS" style="overflow: auto; height: 25em">
                        <div class="buttons is-centered">
                            <table class="table is-striped is-hoverable is-fullwidth" id="districtTableMobile">
                                <thead>
                                <tr>
                                    <th>District</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="districtDto : ${districtValues}">
                                    <td>
                                        <div class="collapsible">
                                            <div class="is-pulled-left" th:text="${districtDto.getLocation()}"></div>
                                            <div class="is-pulled-right contentSign"></div>
                                        </div>
                                        <div class="content">
                                            <div class="card" style="margin-top: 0.2em;">
                                                <div class="card-content">
                                                    <div class="field">Total cases: <span
                                                            class="is-pulled-right tag is-info"
                                                            th:text="${#numbers.formatInteger(districtDto.getConfirmed(),3,'POINT')}"></span>
                                                    </div>
                                                    <div class="field">Recovered: <span
                                                            class="is-pulled-right tag is-success"
                                                            th:text="${#numbers.formatInteger(districtDto.getRecovered(),3,'POINT')}"></span>
                                                    </div>
                                                    <div class="field">Active: <span class="is-pulled-right tag is-warning"
                                                                                     th:text="${districtDto.getRecovered() == 0} ? ${'No value'}
                                                                                     : ${#numbers.formatInteger(districtDto.getConfirmed()
                                                                                     - districtDto.getRecovered() - districtDto.getDead(),3,'POINT')}"></span>
                                                    </div>
                                                    <div class="field">Deaths: <span class="is-pulled-right tag is-danger"
                                                                                     th:text="${#numbers.formatInteger(districtDto.getDead(),3,'POINT')}"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="buttons has-addons is-centered">
                                                <a class="button is-rounded is-small" style="margin-top: 0.5rem;"
                                                   th:href="@{/covid19/timeSeries/district/us/{district}(district=${districtDto.getLocation()})}">Details</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </section>
</div>
<footer class="footer">
    <div class="columns is-mobile is-centered">
        <div class="column is-12-mobile is-12-tablet is-12-desktop is-12-widescreen is-12-fullhd">
            <div class="has-text-centered">
                Source
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://github.com/CSSEGISandData"
                   target="_blank">github.com/CSSEGISandData</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://about-corona.net/" target="_blank">about-corona.net</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://github.com/mathdroid/covid-19-api" target="_blank">github.com/mathdroid/covid-19-api</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://corona.lmao.ninja/" target="_blank">corona.lmao.ninja</a>
            </div>
            <div class="has-text-centered">
                <a class="is-link" href="https://www.trackcorona.live/" target="_blank">trackcorona.live</a>
            </div>
            <div class="has-text-centered">Contact: <a href="mailto:info@tracker-covid19.de">info (at)
                tracker-covid19.de</a></div>
        </div>
    </div>
</footer>
</body>
</html>